/* Keep these extensions out of media queires to avoid deprecation warnings */
.mobile-accordion {
  @extend .icon-white-arrow;  
} 
.audience-active .mobile-accordion {
  @extend .icon-down-white-arrow; 
}
.main-header {
  .mobile-accordion {
    border:1px solid $white;  
    @extend .icon-white-arrow;  
  } 
  .audience-active .mobile-accordion {
    @extend .icon-down-white-arrow; 
  }
}

#mini-panel-home_schools_and_colleges_2015 {
  .mobile-accordion {
    border-color: $dkblue;
    @extend .icon-arrows-dkblue-right;
    font-family: $bebas;
    color: $dkblue;        
  } 
  .audience-active .mobile-accordion {
    @extend .icon-arrows-dkblue-down; 
  }
}
@include at-breakpoint(12 em($mobile-end)) {  
  .mobile-accordion {
    font-size: 23px;
  }
  .main-header .outline-search input[type="text"] {
    font-size: 23px;
    padding-left: 14px;
  }
  .mobile-accordion {
    background-position: 97% center; 
  }
}
@include at-breakpoint(em($tablet-start) 12) {
  .mobile-accordion {
    background-position: 95% center;  
    font-size: 28px;
  }
  .academic-search-schools-colleges .mobile-accordion,
  footer .mobile-accordion {
    display: none;
  }
}
@include at-breakpoint(12 em($tablet-end)) {  
  .main-header .mobile-accordion {
    color: $mobile-main-menu-header;
  }
  .main-header .outline-search input[type="text"] {
    color: $mobile-main-menu-search-header;    
    &::-webkit-input-placeholder {
      color: $mobile-main-menu-search-header;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $mobile-main-menu-search-header;  
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: $mobile-main-menu-search-header;  
    }
    &:-ms-input-placeholder {  
      color: $mobile-main-menu-search-header;  
    }  
  }
  .mobile-accordion {
    display: block;
    
    font-family: $bebas;
         
    letter-spacing: 1px;    
    padding: 14px;    
  
    border:1px solid $white;   
    color: $mobile-main-menu-footer;   
  }  
}    
