#admin-menu .dropdown {
  width: inherit;
}
#admin-menu-account {
  float: right;
}
//Panels 3.5 hack
.content-type-button span {
  top: 5px;
}
// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }
  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}
//Small Mobile Devices
@media all and (max-width: 300px) {
  .mobile-accordion {
    font-size: 15px;
  }
  .main-header .outline-search input[type="text"] {
    height: 45px;
    font-size: 15px;
  }
  .outline-search input[type="submit"] {
    left: 80%;
  }
  .audience-active .field-collection-view .menu li {
    font-size: 15px;
  }
  #secondary-audience-selector li {
    font-size: 15px;
  }
  .cu-front-layout .column.bottom-right ul.quicktabs-tabs li a {
    font-size: 12px;
  }
}
