/* line 1, ../sass/hacks.scss */
#admin-menu .dropdown {
  width: inherit;
}

/* line 4, ../sass/hacks.scss */
#admin-menu-account {
  float: right;
}

/* line 8, ../sass/hacks.scss */
.content-type-button span {
  top: 5px;
}

@media all and (max-width: 800px) {
  /* line 13, ../sass/hacks.scss */
  #toolbar, #admin-menu {
    display: none;
  }

  /* line 17, ../sass/hacks.scss */
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
@media all and (max-width: 300px) {
  /* line 25, ../sass/hacks.scss */
  .mobile-accordion {
    font-size: 15px;
  }

  /* line 28, ../sass/hacks.scss */
  .main-header .outline-search input[type="text"] {
    height: 45px;
    font-size: 15px;
  }

  /* line 32, ../sass/hacks.scss */
  .outline-search input[type="submit"] {
    left: 80%;
  }

  /* line 35, ../sass/hacks.scss */
  .audience-active .field-collection-view .menu li {
    font-size: 15px;
  }

  /* line 38, ../sass/hacks.scss */
  #secondary-audience-selector li {
    font-size: 15px;
  }

  /* line 41, ../sass/hacks.scss */
  .cu-front-layout .column.bottom-right ul.quicktabs-tabs li a {
    font-size: 12px;
  }
}
