body.site-www {
	.panelizer-view-mode.safety {
		img {
			@include at-breakpoint(12 em(640)) {
				display: block;
    			margin: 0 auto;
    		}
    	}	
		.leftintro {
  			font-size: 1.25em;
  			line-height: 1.6em;
  			width: 75%;
  			padding-right: 2%;
  			@include at-breakpoint(12 em(640)) {
				width: 100%;
			}
		}
		.left {
 			 width: 75%;
 			 padding-right: 2%;
 			 @include at-breakpoint(12 em(640)) {
				width: 100%;
			}
		}
		.right {
  			width: 25%;
  			 @include at-breakpoint(12 em(640)) {
				width: 100%;
				.inside {
					padding-left: 0;
				}
			}
		}
		.panels-flexible-row-inside {
  			border-bottom: 1px #CCCCCC solid;
 			margin-bottom:  20px;
		}
		.panels-flexible-region-inside-last h3 {
			font-family: Times, Georgia, serif; 
			font-size: 2em;
			color: #00558c;
			margin-bottom: 3px;
			margin-top: 5px;
		}
		h2 {
			font-family: bebas_neueregular, Helvetica, Arial, sans-serif; 
			font-size: 1.5em;
			color: #00558c;
			margin-top: -8px;
			margin-bottom: 0;
			line-height: 1.4em;
		}		
	}	
}
.hide{
	display: none;
}