/************************** cbu04905 changes ***********************/
article.node--event .node__content {
	display: flex;
	flex-flow: row wrap;
}
fieldset.group-cu-event-left-col {
	flex: 3 0px;
	border: none;
	
	div.fieldset-wrapper {
		display: inline-table;
		width: auto;
	}
	div.field--name-field-event-name {
		@extend %font-family-bebas;
		@extend %color-dkblue;
		font-size: 30px;
	}
	div.field--name-field-event-date {
		margin-top: 8px;
		font-weight: bold;
		font-size: 18px;
	}
	div.field--name-body h3 {
		@extend %font-family-bebas;
		font-size: 24px;
	}
	div.field--name-field-event-location:before {
		content: "Location";
		@extend %font-family-bebas;
		@extend %color-dkblue;
		font-size: 24px;
	}
	div.field--name-field-contact-name:before {
		content: "Contact";
		@extend %font-family-bebas;
		@extend %color-dkblue;
		font-size: 24px;
	}
	div.field--name-field-contact-name {
		margin-top: 20px;
	}
}
		
fieldset.group-cu-event-right-col {

	flex: 1 content;
	min-width: 250px;
	border: none;
	
	div.fieldset-wrapper {
		width: auto;
		
		& > div {
			float: left;
			clear: both;
		}
	}
	div.field--name-field-signup-link a { 
	  @extend .btn-featured-orange;
	  }
	div.field--name-field-schedule-link a {
		@extend .btn-featured;
	}
}


/*************** tanner's changes  ********************/
@media screen and (max-width: 45em)
{
fieldset.group-cu-event-right-col {
	width: 100%;
	
	img {
		display: none;
		}
	}
	fieldset.group-cu-event-left-col {
		width: 100%;
	}
	.container{
	 padding-left: 0px !important;
	 padding-right: 0px !important;
	}
	
}

@media screen and (min-width: 45.1em) and (max-width: 65em)
{
	fieldset.group-cu-event-left-col {
		width: 70%;
	}
	fieldset.group-cu-event-right-col .container{
	padding-left: 0px !important;
	padding-right: 0px !important;
	}
}