/* Gold Area      */
.academic-search-schools-colleges {
  @extend .tan-gradiant-wrapper;
  box-shadow: inset 0 10px 10px -10px rgba(black, 0.4);
  h1, h2, h3, h4, h5,
  p,
  a, a:hover {
    color: $dkblue;
  }
  h4 {    
    font-size: 28px;
    font-family: $bebas;
    text-transform: uppercase;
  }
  /* All Quads */
  .panels-flexible-region {
  }
  /* Top Row        */
  .schools-colleges-shadow-main-row {
    /* Top left       */
    .schools-colleges-shadow-left-inside { 
        display: block;
        float: left;
        width: 100%;  
      .simple-menu {
        ul {
          position: relative;
          top: -27px;
        }
        li:after { content: ""; }
      }
      .outline-search input[type="text"],
      input[type="search"] {
       /* @extend %font-family-base;*/
        color: $dkblue;
        border-color: $dkblue;
      } 
      .outline-search input[type="submit"] {
        @extend .icon-search-dkblue;
      }
    }
    /* Top Right      */
    .schools-colleges-shadow-right_-inside { 
      .field-collection-view ul {
          li {     
            float: left;
            width: 78%;
            text-align: left;
          }
        }     
    }
  }
  /* Bottom Row     */
  .schools-colleges-shadow-2 {
    .faith-support-copy p {
      a, a:hover {
        color: $blue;
      }
    }
    /* Bottom Left    */
    /* Bottom Right   */
  }
}

@include at-breakpoint(12 em($mobile-end)) {
  /* Gold Area      */
  .academic-search-schools-colleges {

   
    /* All Quads */
    .panels-flexible-region {
      width: 100%;
    }
    
    /* Top Row        */
    .schools-colleges-shadow-main-row {
      padding: 0 10px;
      /* Top left       */
      .schools-colleges-shadow-left-inside {   
  
      }
      /* Top Right      */
      .schools-colleges-shadow-right_-inside {
              
        .field-collection-view ul.menu {
          padding: 6px;
          background-color: $mobile-schools-colleges-menu-bg;
          overflow: hidden;
          li {
            width: 100%;
            height: auto;
            margin: 2px 0;
            a {
              width: 90%;
              margin-bottom: 0;
              line-height: 30px;
              font-size: 28px;
              font-family: $bebas;
              white-space: normal;

              color: $audience-select-mobile; 
            }
          }      
        }
        .audience-active .field-collection-view ul.menu li {
          background-color: $mobile-schools-colleges-menu-li;
        }
      }
    }
    /* Bottom Row     */
    .schools-colleges-shadow-2 {
        .faith-support h4 {
          cursor: pointer;
        }
       .faith-support-copy p {
          display: none;
          padding: 0 20px;
        }
      /* Bottom Left    */
      /* Bottom Right   */
    }
  }
}     

@include at-breakpoint(em($tablet-start) 12) {
  /* Gold Area      */
  .academic-search-schools-colleges {
    h4 {
      margin-top: 0;
    }
    /* All Quads */
    .panels-flexible-region {
      width: 100%;
    }
    
    /* Top Row        */
    .schools-colleges-shadow-main-row {

      /* Top left       */
      .schools-colleges-shadow-left-inside {   
      }
      /* Top Right      */
      .schools-colleges-shadow-right_-inside {  

        .dropdown {
          width: 100%;
        }
        .dropdown .field-collection-view {
          display: block;
          width: 100%;
          ul li {
            width: 30%;
            padding: 0;
            background: none;
            word-wrap: normal;
            a {
              color: $dkblue;

            }
          }
        }
      
      }
    }
    /* Bottom Row     */
    .schools-colleges-shadow-2 {
      .faith-support-copy p {
        margin: 2% 15%;
        text-align: center;       
      }
      /* Bottom Left    */
      /* Bottom Right   */
    }
  }
}
@include at-breakpoint(12 em($tablet-end)) {
  /* Gold Area      */
  .academic-search-schools-colleges {
    h4 {
      text-align: center;
    }
    /* All Quads */
    .panels-flexible-region {
  
    }
    
    /* Top Row        */
    .schools-colleges-shadow-main-row {
      margin: 2% 6% 0;
      /* Top left       */
      .schools-colleges-shadow-left-inside {   
  
      }
      /* Top Right      */
      .schools-colleges-shadow-right_-inside {    
        ul.menu {
          text-align: center;
        }  
      }
    }
    /* Bottom Row     */
    .schools-colleges-shadow-2 {
  
      .faith-support-copy p {
  
      }
      /* Bottom Left    */
      /* Bottom Right   */
    }
  }

}
@include at-breakpoint(em($desk-start) 12) {
  /* Gold Area      */
  .academic-search-schools-colleges {
    h4 {
      /*font-size: 24px;*/
    }
    .simple-menu {
      ul {
        position: relative;
        top: -27px;
      }
      li:after { content: ""; }
      a { color: $dkblue;     }
    }  
    /* All Quads */
    .panels-flexible-region {
      width: 40%;
      float: left;
      margin: 0 10% 0 0;
      padding: 0;
    }
    
    /* Top Row        */
    .schools-colleges-shadow-main-row {
      margin-top: 2%;
     /* margin: 2% 3% 0;
      padding-left: 32px;*/
      /* Top left       */
      .schools-colleges-shadow-left-inside {   
        width: 100%;
      }
      /* Top Right      */
      .schools-colleges-shadow-right_-inside {  
        .field-collection-view ul {     
          width: 410px;  

        }    
      }
    }
    /* Bottom Row     */
    .schools-colleges-shadow-2 {
      /*margin: 0 3% 0;
      padding-left: 32px;*/
      .faith-support-copy p {
        margin: 2% 0%;
        text-align: left;
      }
      /* Bottom Left    */
      /* Bottom Right   */
    }
  } 
}