/*
 * Spotlight 
 */
.view-spotlight {
  .views-row {
    float: left;
  }
  img {
    float: left;
    margin: 0 5% 65px 0;
    @include at-breakpoint(12 em($tablet-end)){
      margin-bottom: 22px;
    }
    @include at-breakpoint(12 em($mobile-end)){
      margin-bottom: 0;
      float: none;
    }
  }
  h2 {
    float: left;
    width: 55%;
    margin-top: 0;
    line-height: inherit;
    @include at-breakpoint(12 em($tablet-end)){
      width: 100%;
      margin-top: 22px;
      float: none;
    }
    @include at-breakpoint(12 em($mobile-end)){
      width: 100%;
      margin-top: 22px;
    }
  }
  p {
    display: block;
    float: left;
    width: 55%;
    margin: 0;
    @include at-breakpoint(12 em($mobile-end)){
      width: 100%;
    }
  }
  .btn-transparent-green {
    display: block;
    float: left;
    @include at-breakpoint(12 em($mobile-end)){
      float: left;
      margin-right: 50%;
      margin-bottom: 40px;
    }
  }
} 