.icon-arrow-white-left { background-image: url('png/left-white-arrows.png'); background-repeat: no-repeat; }

.icon-blue-arrow { background-image: url('png/blue-arrow.png'); background-repeat: no-repeat; }

.icon-blue-arrow-down { background-image: url('png/arrows-brtblue-down.png'); background-repeat: no-repeat; }

.icon-dash { background-image: url('png/dash.png'); background-repeat: no-repeat; }

.icon-dkblue-arrow { background-image: url('png/dkblue-arrow.png'); background-repeat: no-repeat; }

.icon-dot { background-image: url('png/dot.png'); background-repeat: no-repeat; }

.icon-down-arrow { background-image: url('png/down-arrow.png'); background-repeat: no-repeat; }

.icon-down-white-arrow { background-image: url('png/down-white-arrow.png'); background-repeat: no-repeat; }

.icon-events-top { background-image: url('png/events-top.png'); background-repeat: no-repeat; }

.icon-gold-arrow-down { background-image: url('png/gold-arrow-down.png'); background-repeat: no-repeat; }

.icon-gold-arrow { background-image: url('png/gold-arrow.png'); background-repeat: no-repeat; }

.icon-gold-dot-small { background-image: url('png/gold-dot-small.png'); background-repeat: no-repeat; }

.icon-gray-arrow { background-image: url('png/gray-arrow.png'); background-repeat: no-repeat; }

.icon-gray-dot { background-image: url('png/gray-dot.png'); background-repeat: no-repeat; }

.icon-green-arrow { background-image: url('png/green-arrow.png'); background-repeat: no-repeat; }

.icon-green-burst { background-image: url('png/green-burst.png'); background-repeat: no-repeat; }

.icon-hero-arrows { background-image: url('png/hero-arrows.png'); background-repeat: no-repeat; }

.icon-hr-special { background-image: url('png/hr-special.png'); background-repeat: no-repeat; }

.icon-left-right-arrows { background-image: url('png/left-right-arrows.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-orange-arrow { background-image: url('png/orange-arrow.png'); background-repeat: no-repeat; }

.icon-primaryblue-arrow { background-image: url('png/primaryblue-arrow.png'); background-repeat: no-repeat; }

.icon-related-content-bg { background-image: url('png/related-content-bg.png'); background-repeat: no-repeat; }

.icon-search-icon-drkblue { background-image: url('png/search-icon-drkblue.png'); background-repeat: no-repeat; }

.icon-search-icon { background-image: url('png/search-icon.png'); background-repeat: no-repeat; }

.icon-sm-burst-solid { background-image: url('png/sm-burst-solid.png'); background-repeat: no-repeat; }

.icon-sm-burst { background-image: url('png/sm-burst.png'); background-repeat: no-repeat; }

.icon-social-icons { background-image: url('png/social-icons.png'); background-repeat: no-repeat; }

.icon-social-icons-31px { background-image: url('png/social-icons-31px.png'); background-repeat: no-repeat; }

.icon-tools-bg { background-image: url('png/tools-bg.png'); background-repeat: no-repeat; }

.icon-up-arrow { background-image: url('png/up-arrow.png'); background-repeat: no-repeat; }

.icon-up-down-arrow { background-image: url('png/up-down-arrow.png'); background-repeat: no-repeat; }

.icon-white-arrow { background-image: url('png/white-arrow.png'); background-repeat: no-repeat; }
/* New Front Page */
.icon-search-dkblue { background-image: url('png/search-dkblue.png'); background-repeat: no-repeat; }

.icon-arrows-dkblue-right { background-image: url('png/arrows-dkblue-right.png'); background-repeat: no-repeat; }

.icon-arrows-dkblue-down { background-image: url('png/arrows-dkblue-down.png'); background-repeat: no-repeat; }

.icon-search-gold { background-image: url('png/search-bold.png'); background-repeat: no-repeat; }

.icon-arrows-gold-down { background-image: url('png/arrows-gold-down.png'); background-repeat: no-repeat; }

.icon-arrows-gold-right { background-image: url('png/arrows-gold-right.png'); background-repeat: no-repeat; }

.icon-arrows-yellow-right { background-image: url('png/arrows-yellow-right.png'); background-repeat: no-repeat; }

.icon-arrows-orange-right { background-image: url('png/arrows-orange-right.png'); background-repeat: no-repeat; } 

