// TODO: Clean up Ologie menu styles to fit SMACSS

// ---------------------------------------------------------------------------
// SOME DEFAULTS
.menu {
  @include no-bullet;
  @extend %margin-0;
  @extend %pad-0;
  .menu {
    margin-left: 1em;
    padding-left: 1em;
  }
  > li.leaf{ @include no-bullet; }
}

// ---------------------------------------------------------------------------
// Buttons in a list
//
// used in the header and footer for links like Visit, Apply, etc
@mixin btn-list ($background-extend: background-gold, $color-extend: color-white, $background-extend-hover: background-gold, $color-extend-hover: color-dkblue) {
  @include no-bullet;
  @include clearfix;
  @extend %margin-0;
  @extend %pad-0;
  li {
    @extend %display-inline-block;
    font-size: em(24);
    margin-right: -2px;
    @include at-breakpoint(12 em(360)) {
      font-size: em(19);
    }
  }
  a {
    @extend %display-block;
    @extend %font-family-bebas;
    @extend %#{$background-extend};
    @extend %#{$color-extend};
    padding: .2em 1em; // TODO: Size is incorrect when switching to em(3). Must be casscading ems.
    letter-spacing: 1px;
    text-decoration: none;
    &:hover {
      @extend %#{$background-extend-hover};
      @extend %#{$color-extend-hover};
    }
  }
}

/*
 * Really simple menu
 *
 * This is a really simple, resusable menu style with bullet separators.
 * Used in the header, majors section and other areas
 *
 */

.simple-menu {
  ul {
    @include clearfix;
    @include at-breakpoint(12 em(845)) { text-align: center; }
  }
  li {
    @include at-breakpoint(12 em(845)) {
      padding: 8px
    }
    @extend %display-inline-block;
    padding: 0 3px;
    font-size: em(12);
    &:after {
      content: "\2022";
      padding-left: 10px;
      @include at-breakpoint(12 em(845)) { content: ''; }
    }
    &:last-child:after {
      content: '';
      padding: 0;
    }
  }
  a {
    @extend %font-family-sans-serif;
    text-decoration: none;
    &:hover {
      @extend %color-gold;
    }
  }
}

// ---------------------------------------------------------------------------
// Sidebar Navigation

#block-menu-block-sidebar-secondary-menu {
  @extend %font-family-gryes;
  @include at-breakpoint(12 em(767px)) {
    display: none;
    &.open {
        display: block; // NOTE: Not sure what this does
    }
  }
  .menu-block-wrapper > .menu{
    @extend .icon-gray-dot;
    background-repeat: repeat-x;
    background-position: 0 bottom;
  }
  // First tier menu
  .menu-block-wrapper > .menu > li{
    @extend .icon-gray-dot;
    background-repeat: repeat-x;
    background-position: 0 top;
    line-height: 1;
    > a{
      @extend %display-block;
      font-size: em(16);
      padding: 10px 4px 10px 12px;
      &.active{
        @extend %color-primaryblue;
        background-color: #eaebeb;
      }
    }
    &.active,
    &.active-trail{
      background-image: none;
    }
  }

  // Second tier menu
  .menu .menu{
    margin: 0;
    padding: 4px 0 4px 10px;
    > li{
      margin: 0;
      &.expanded{
        margin-bottom: 0;
        line-height: 1;
        > a{
          @extend .icon-gold-arrow-down;
          background-position: 0 7px;
        }
      }
      > a{
        @extend %display-block;
        @extend .icon-gold-arrow;
        background-position: 5px 7px;
        padding: 4px 4px 4px 17px;
      }
    }
  }

  // Third tier menu
  .menu .menu .menu:last-child{
    padding: 0;
    margin: 4px 0 4px 10px;
    @extend .icon-gold-dot-small;
    background-repeat: repeat-y;
    background-position: 0 0;
    > li{
      font-size: em(14);
      a{
        background-image: none;
        margin-left: 6px;
        padding: 4px 6px;
        &.active{
          @extend %color-primaryblue;
          background-color: #eaebeb;
        }
      }
    }
  }
  a{
    @extend %color-dkblue;
    text-decoration: none;
  }
  .menu .expanded,
  .menu .collapsed{
    list-style-type: none;
    list-style-image: none;
  }
}

// Moble sidebar menu
.small-menu-trigger {
  @extend %color-dkblue;
  @extend %background-gray;
  @extend .icon-up-down-arrow;
  @include transition(none);
  background-position: 95% -1.75em;
  display: none;
  padding: .5em;
  @include at-breakpoint(12 em(767)) {
    display: block;
  }
  &.open {
    background-position: 95% 0.75em;
  }
}



.l-region--left-footer {
  .menu-name-menu-transaction-menu{
    @include clearfix;
    margin-bottom: em(16);
    ul{
      @include btn-list(background-blue, color-white, background-dkblue, color-white);
      @include at-breakpoint(12 em(767)){
        text-align: center;
        margin: em(8) auto;
      }
      li{
        @include at-breakpoint(12 em(460)){
          display: block;
          margin-bottom: em(2px);
          text-align: center;
        }
      }
    }
  }
  .menu-name-main-menu{
    @extend .simple-menu;
    margin-top: em(16);
    li{
      @extend %color-yellow;
      @include at-breakpoint(12 em(460)){
        padding: 0;
      }
    }
    a{
      @extend %color-yellow;
      font-family: $gryes $georgia;
      font-size: em(24);
      &:hover{
        @extend %color-white;
      }
    }
  }
}
.static-menu{
  @include clearfix;
  margin-top: em(16);
  h2{
    @extend %color-white;
    font-size: em(16);
    line-height: em(16);
    float: left;
    @include at-breakpoint(12 em(460)){
      float: none;
    }
  }
}
.menu-name-menu-static{
  @extend .simple-menu;
  @extend %color-yellow;
  @include clearfix;
  float: left;
  margin-bottom: 16px;
  li{
    @extend %color-yellow;
    @include at-breakpoint(12 em(460)){
      padding: 0;
    }
  }
  a{
    @extend %font-family-gryes;
    @extend %color-yellow;
    font-size: em(20);
    // line-height: em(16);
    &:hover{
      @extend %color-yellow;
    }
  }
}
// ---------------------------------------------------------------------------
// SITE NAME/LOGO - MAIN NAV



.site-logo {
  @extend %display-inline-block;
  .lt-ie9 &{
    @extend %display-inline;
  }
  img{
    .l-footer &{
      margin-bottom: 1.4em;
    }
  }
  // max-width: 350px;
  @include at-breakpoint(12 em(845)){
    margin: 0 auto;
  }
}

.mobile-menu-icon {
  display: none;
  overflow: hidden;
  width: em(32);
  height: 0;
  padding-top: 0.3em;
  border-top: 0.75em double #fff;
  border-bottom: 0.28em solid #fff;
  margin: em(16) em(32);
  @include at-breakpoint(12 em(767)) {
    display: block;
    float: left;
  }
}
.header-buttons,
#block-menu-block-header-transaction-menu {
  position: absolute;
  top: 0;
  right: em(32);
  @include at-breakpoint(12 em(845)) {
    right: auto;
    left: 0;
    width: 100%;
  }
  ul {
    @include btn-list;
    @extend %margin-0;
    float: right;
    // margin: 0;
    @include at-breakpoint(12 em(845)) {
      text-align: center;
      float: none;
      width: 100%;
    }
  }
}

#block-menu-block-header-main-menu {
  // margin-bottom: .5em;
  @include at-breakpoint(12 em(1120)) {
    @include span-columns(12, 12);
    padding-top: 0;
  }

  .menu {
    @include clearfix;
    margin-top: .8em;
    @include at-breakpoint(12 em(1120px)) {
      float: none;
    }
    @include at-breakpoint(12 em(767px)) {
      text-align: center;
    }
    & > li {
      float: left;
      position: relative;
      @include at-breakpoint(12 em(767px)) {
        float: none;
        display: inline-block;
      }

      & > a {
        color: #fff;
        font-family: $bebas;
        text-decoration: none;
        font-size: 1.35em;
        font-weight: normal;
        letter-spacing: 1px;
        padding: 0 .5em;
      }
      &.active,
      &.active-trail {
        & > a {
          border-bottom: 5px solid $blue;

        }
      }
      &:hover {
        & > a {
          border-bottom: 5px solid $blue;
        }
        & > .menu {
          left: auto;
          @include at-breakpoint(12 em(620px)) {
            display: none;
          }
        }
      }
    }
    // MOBILE NAVIGATION STYLES
    @include at-breakpoint(12 em(767px)) {
      & > li {
        display: block;
        font-size: 1.25em;
        text-align: left;
        float: none;
        padding: 0;
        a {
          display: block;
          background-color: $primaryblue;
          padding: .5em 1em;
          border-bottom: 1px solid $dkblue;
          &:hover {
            background: $blue;
            border-bottom: 1px solid $dkblue;
          }
        }
        &.active {
          a {
            border-bottom: 1px solid $dkblue;
          }
        }
      }
    }
  }
  @include at-breakpoint(12 em(767px)) {
    max-height: 0;
    overflow: hidden;
    @include transition-duration(0.4s);
    @include transition-property(all);
    &.open {
      max-height: 40em;
    }
  }
  .menu .expanded,
  .menu .collapsed{ // Resets drupals default menu styles
    list-style: none;
  }
}
.main-navigation .active-trail .menu {
  position: absolute;
  top: 100%;
  left: -999em;
  margin: 0;
  padding: 0;
  @include rgba-background(rgba($blue, 0.9));
  & > li {
    margin-bottom: 0;
    float: none;
    & > a {
      font-family: $bebas;
      color: #fff;
      display: block;
      padding: .25em .5em;
      white-space: pre;
      text-decoration: none;
      font-size: 1.25em;
      &:hover {
        color: $dkblue;
        border: none;
      }
    }
  }
}

// ---------------------------------------------------------------------------
//  TOP NAV & SEARCH BAR
//
// Absolutely position above the site logo and main nav on larger displays so the DOM is logical.
// Drops below the site logo on smaller screens to allow the logo to move up.
//
.secondary-header {
  @extend %background-primaryblue;
  border-bottom: 3px solid $gold;
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  @include at-breakpoint(12 em(845px)){
    display: none;
  }
  @include at-breakpoint(12 em(845px)) {
    position: relative;
    top: auto;
    left: auto;
  }
  nav {
    @include span-columns(8, 12);
    letter-spacing: 1px;
    line-height: em(38px);
    @include at-breakpoint(12 em(845px)) {
      @include span-columns(12, 12);
      float: none;
      display: block;
    }
    @include at-breakpoint(12 em(460px)) {
      line-height: em(28);
    }
    li {
      &:after {
        @extend %color-white;
      }
    }
    a{ color: #fff; }
  }
  // MOBILE NAVIGATION STYLES
  @include at-breakpoint(12 em(845px)) {
    max-height: 0;
    overflow: hidden;
    @include transition-duration(0.2s);
    @include transition-property(all);
    &.open {
      max-height: 20em;
    }
  }
  &.mobile{
    display: none;
    @include at-breakpoint(12 em(845px)){
      display: block;
    }
  }
}

// ---------------------------------------------------------------------------
// Social Media Links
.social-media {
  margin: 2em 0 0;
  padding: 0;
  @include at-breakpoint(12 em(900)){
    margin-top: 0;
  }
  li {
    @extend %display-inline-block;
    @include no-bullets;
  }
  a {
    @extend %display-block;
    @extend .icon-social-icons;
    @include transition(none);
    cursor: pointer;
    height: 0;
    width: 38px;
    padding-top: 38px;
    overflow: hidden;
  }
  .facebook:hover {
    background-position: 0 -38px;
  }
  .twitter {
    background-position: -38px 0;
    &:hover {
      background-position: -38px -38px;
    }
  }
  .linkedin {
    background-position: -76px 0;
    &:hover {
      background-position: -76px -38px;
    }
  }
  .youtube {
    background-position: -114px 0;
    &:hover {
      background-position: -114px -38px;
    }
  }
}

#block-menu-block-header-utility-menu{
  @extend .simple-menu;
  @include at-breakpoint(em(846px) 12){
    li{
      font-size: 12px;
    }
  }
  @include at-breakpoint(12 em(1069px)){
    ul{
      margin-top: 8px;
    }
  }
}
