//---------------- OLOGIE
 // TODO: Need to clean up form items since this is a direct copy from Ologie styles and looks like there are a lot of base form items.
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}

input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  border-radius: 0;
}
input,
button,
select,
textarea {
  font-family: Georgia, Times, serif;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  border-radius: 0;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  // height: 1.3em;
  padding: em(8);
  // margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1em;
  color: $basegray;
  vertical-align: middle;
  background-color: #efefef;
}
input,
textarea,
.uneditable-input {
  width: auto;
  max-width: 100%;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  // border:none;
  // border: 1px solid #e7e7e7;
  // @include box-shadow(inset, 0 1px 1px rgba($black, 0.5));
  // @include transition(border linear 0.2s, box-shadow linear 0.2s);
  // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  // -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  // -webkit-transition: border linear .2s, box-shadow linear .2s;
  // -moz-transition: border linear .2s, box-shadow linear .2s;
  // -o-transition: border linear .2s, box-shadow linear .2s;
  // transition: border linear .2s, box-shadow linear .2s;
   // border-bottom: 2px solid #fff;
   -webkit-appearance: none;
   // border-radius: 3px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba($blue, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  // border-bottom: 2px solid $blue;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  height: auto;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Placeholders */
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: em(16);
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: em(16);
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: em(16);
  color: #999999;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.outline-search {
  form {
    position: relative;
    margin: 0;
  }
  input[type="text"],input[type="search"] {
    @extend %font-family-bebas;
    @extend %background-transparent;
    @extend %color-white;
    @extend %margin-0;
    border:1px solid $white;
    font-size: 27px; 
    letter-spacing: 1px;
    width: 100%;
    padding: 9px; 
  }
  input:-moz-placeholder{
    color: #ebebeb;
    letter-spacing: 1px;
  }
  input:-ms-input-placeholder{
    color: #ebebeb;
    letter-spacing: 1px;
  }
  input::-webkit-input-placeholder {
    color: #ebebeb;
    letter-spacing: 1px;
  }
  input[type="submit"] {
    @extend .icon-search-icon;
    @extend %background-transparent;
    @extend %display-block;
    background-size: cover;

    position: relative;
    top: -40px;
    left: 88%;
    @include at-breakpoint(12 em($mobile-end)) {
    top: -37px;
    left: 86%;
    }
    width: 32px;
    height: 32px;
    border:none;
    text-indent: -1999px;
    overflow: hidden;
  }
}

form.gray-search {
    position: relative;
    @extend input[type="text"];
    input[type="text"] {
        background: transparent;
        box-shadow: none;
        border: none;
        margin:0;
        padding:0;
    }
    input[type="submit"] {
        position: absolute;
        right:0;
        top:5px;
        margin-top: 0;
        width: 25px;
        height: 25px;
        padding:11px;
        border:none;
        text-indent: -1999px;
        overflow: hidden;
        display: block;
        border-radius: 0;
        background: #efefef url(images/search-icon-drkblue.png) no-repeat;
        .svg & {
          background:#efefef url(images/search-icon-drkblue.svg) no-repeat;
        }
    }
}
form.gray-search.alignright {
  margin-left:1em;
   @include at-breakpoint(12 em($tablet-end)) { // 900px
    float: none;
    margin-left:0;
  }
}
