/*
 *$BRAND COLORS OLD
 */
$primaryblue: #00558c;
$dkblue: #00263e;
$dkgray: #53565a;
$gold: #b9975b;
$orange: #f2a900;
$yellow: #eedc00;
$green: #00b388;
$blue: #00a9e0;
$coolgray: #c8c9c7;
$gray: #97999b;
$peach: #ff7276; // depricated
$red: #da291c;
$basegray: #555555;

// Academics gray
$gray1: #EFEFEF;
/*
 *$BRAND COLORS NEW
 */
$primaryblue: #3255A4;
$primaryblue-alpha: rgba(50, 85, 164, 1);
$dkblue: #002e6d;
$dkblue-alpha: rgba(0, 46, 109, 1);
$fp-dkblue-header-alpha: rgba(0, 46, 109, 0.8);
$fp-dkblue-alpha: rgba(0, 46, 109, 0.8);

$dkgray: #7e898a;
$dkgray-alpha: rgba(138, 137, 138, 1);
$gold: #be8b40;
$gold-alpha: rgba(190, 139, 64, 1);
//$ltgold: #c49653;
$orange: #ffa300;
$orange-alpha: rgba(255, 163, 0, 1);
$yellow: #ffcc4f;
$yellow-alpha: rgba(255, 204, 79, 1);
$green: #91ca6b;
$green-alpha: rgba(145, 202, 107, 1);
$blue: #019cdb;
$blue-alpha: rgba(1, 156, 219, 1);
$fp-blue-alpha: rgba(1, 156, 219, 0.8);

$coolgray: #ded4cb;
$coolgray-alpha: rgba(222, 212, 203, 1);
$gray: #b3b4b3;
$gray-alpha: rgba(179, 180, 179, 1);

$peach: #ff7276; // depricated
$red: #da291c;
$basegray: #555555;

// Academics gray
$gray1: #EFEFEF;

/*
 *$Monochromatic colors
 */
$white: #fff;
$black: #000;

/* Front Page */
$audience-mobile-bg: $primaryblue; 

/* Expanding Menu colors */
$mobile-main-menu-footer: $white;   
$mobile-main-menu-header: $white;
$mobile-main-menu-search-header: $white;
$mobile-schools-colleges-menu-li: $primaryblue;
$mobile-schools-colleges-menu-bg: $dkblue;

$main-menu-li: $primaryblue;
$main-menu-bg: $dkblue;

$footer-main-menu-li: $primaryblue;
$footer-main-menu-bg: $dkblue;

$audience-select-li: #5D77AC;
$audience-select-mobile: $yellow;
$audience-select-desk: $white;
$audience-select-sub: $yellow;
$audience-select-bg: $dkblue;

/* Alert Colors */
$alert-red: #d63113;
$alert-orange: #eeac00;

/* Profile Colors */
$profile-header: #3a53a6;
$profile-bg: #f2f2f2;

/* Program Search Colors */
$link-heading: #019dcb;