/**
 * $LISTS
 */
ul {
  li {
    @extend %color-basegray;
    word-wrap: break-word;
    ul {
      margin-top: .5em;
	     margin-bottom: .5em;
      li {
        margin-bottom: .5em;
      }
    }
  }
}

ol {
  & > li {
    @extend %color-basegray;
    word-wrap: break-word;
    ol {
      margin-top: .5em;
	     margin-bottom: .5em;
      li {
        margin-bottom: .5em;
        list-style: lower-alpha;
        word-wrap: break-word;
      }
    }
  }
}

/**
 * $UNSTYLED-LIST
 */
.unstyled {
  @extend %pad-0;
  margin: 0 0 1em;
  li {
    @extend %display-inline-block;
    @include no-bullet;
  }
}

/**
 * $MEDIA-LIST
 */
.media-list,
.block--related-links{
  h2{
    font-size: em(20);
    margin-bottom: em(8);
  }
  .field__item{
    margin: 0 0 5px;
    a{
      @extend %color-blue;
      font-size: em(14);
    }
  }
  .field-collection-view{
    border: none;
    margin: 0;
    padding: 0;
  }
  .field-collection-container{
    border: none;
    margin: 0;
  }
}
ul, ol{
  margin: 1em 0 1em 0;
}

