/**
 * $FONT-FACE
 */
@font-face {
  font-family: 'texgyrescholabold';
  src: url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-bold-webfont.eot");
  src: url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-bold-webfont.woff") format("woff"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-bold-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-bold-webfont.svg#texgyrescholabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'texgyrescholaregular';
  src: url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-regular-webfont.eot");
  src: url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/texgyreschola-regular-webfont.svg#texgyrescholabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas_neueregular';
  src: url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/BebasNeue-webfont.eot");
  src: url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/BebasNeue-webfont.woff") format("woff"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/BebasNeue-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/web_themes/creighton_panopoly/fonts/BebasNeue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * $BASE-TYPOGRAPHY
 */
html {
  @extend %font-family-base;
  @extend %color-basegray;
  @extend %line-height-base;
}

/**
 * $HEADINGS
 */
#{headings()} {
  @extend %color-dkblue;
  @extend %font-family-gryes;
  font-weight: normal;
}
h1 {
  @extend %color-gold;
  font-size: 2.25em;
  @include at-breakpoint(12 em(845)) {
    font-size: 2em;
  }
  &.page-title{
    margin-top: 0;
    margin-bottom: 0;
  }
}
h1.page-title,
h2.page-title{
  @extend %font-family-bebas;
  @extend %color-primaryblue;
  padding-bottom: 15px;
  font-size: em(19);
  line-height: 1;
  margin: 0;
}
.header-image .page-title{
  @extend %color-white;
  @extend %font-family-gryes;
  padding-top: em(90);
  @media screen and (max-width: em(845px)){
    padding-top: em(20);
  }
}
.special{
  @extend .icon-dash;
  @extend %color-dkblue;
  @extend %font-family-bebas;
  background-repeat: repeat-x;
  background-position: 0 bottom;
  padding-bottom: 1.25em;
  font-size: 2.25em;
  line-height: 1.25em;
  margin-top: 0;
  margin-bottom: .75em;
  padding-bottom: 1.25em;
  @include at-breakpoint(12 52.813em) {
    font-size: 1.75em;
  }
}
.contact-address{
  font-size: em(14);
  a{
    @extend %color-yellow;
    text-decoration: none;
    &:hover{
      @extend %color-white;
      text-decoration: underline;
    }
  }
  @include at-breakpoint(em(768) 12){
    width: 40%;
    float: left;
    margin: 2em 1em;
  }
}
h3 {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/**
 * $LINKS
 */
a, a.link {
  @extend %color-blue;
  @include transition-property(all);
  @include transition-duration(0.2s);
}
a:hover {
  @extend %color-dkblue;
}

/**
 * $HORIZONTAL-RULE
 */
hr {
  @extend .icon-dot;
  background-repeat: repeat-x;
  height: .5em;
  display: block;
  width: 100%;
  border: none;
  margin: 1em 0;
  &.lines {
    @extend .icon-dash;
    background-repeat: repeat-x;
    height: .5em;
  }
  &.special {
    @extend .icon-hr-special;
    background-repeat: no-repeat;
    background-position: right center;
    height: 2.5em;
  }
}

/**
 * $FOOTER
 */
.copyright{
  @extend %color-white;
  font-size: em(13);

  @include at-breakpoint(12 em(767px)) {
    text-align: center;
    float: left;
    width: 100%;
  }
  @include at-breakpoint(em(768px) 12) {
    position: absolute;
    right: 30px;
    top: 210px;
  }
}
p{
  margin: 0 0 1.5em 0;
  word-wrap: break-word;
}

.cu-front-layout h2{
  @extend %color-white;
  @extend %font-family-gryes-bold;
  /*@extend %background-primaryblue;*/
  @extend %background-dkblue;

  display: inline;
  font-size: em(22);
  @include at-breakpoint(12 em($mobile-end)) {
    font-size: em(20);
  }
  margin-top: 0;
  padding: 0 10px;
  padding: 6px 10px;
}
