$debug-grid: false !default;

@mixin grid-background {
  @if $debug-grid == true {
    @include susy-grid-background;
  }
}

%container {
  @include container;
  @include grid-background;
}

%display-inline-block{
  display: inline-block;
}
%display-inline{
  display: inline;
}
%display-block{
  display: block;
}

// Margins & paddings
%margin-0 {
  margin: 0;
}
%pad-0 {
  padding: 0;
}

%pull-left{
  float: left;
}
%pull-right{
  float: right;
}

