// Use REMs with a pixel fallback for font sizing.
@mixin font-size($font-size){
  font-size: $font-size;
  font-size: ($font-size / $base-font-size)*1rem;
}

// Typography
// ==================================================

%font-family-base {
  font-family: $base-font-family;
}
%font-family-sans-serif{
  font-family: $helvetica;
}
%font-family-bebas{
  font-family: $bebas, $helvetica;
}
%font-family-gryes{
  font-family: $gryes, $georgia;
}
%font-family-gryes-bold{
  font-family: $gryesBold;
}
%line-height-base {
  line-height: $base-line-height;
}

// TODO: Ologie new code check to see what this is about
.gryes {
  font-family: $gryes;
}
.bebas {
  font-family: $bebas;
}
