/* extra overrides - move to theme override */
#media-tabs-wrapper .ui-tabs-nav a:link, #media-tabs-wrapper .ui-tabs-nav a:visited {
  background: #666;
  color: white;
  border: none;
}

#media-tabs-wrapper .ui-tabs-nav li.ui-state-active a:link, #media-tabs-wrapper .ui-tabs-nav li.ui-state-active a:visited {
  background: white;
  color: #666;
  border: none;
}

#branding .primary {
  background: #e0e0d8;
}

ul.primary {
  height: 3.6em;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  background: white;
}