/*
 * Admissions Tab Module
 *
 */
.admissions-tab-module {
    /* override some colors in the base tab styles */
    ul.quicktabs-tabs li {
        background: $primaryblue;
        margin-bottom: 1px;
        &.active {
            background: lighten($coolgray, 10%);
            &:hover {
                background: lighten($coolgray, 10%);
            }
        }
        &:hover {
            background: $dkblue;
        }
    }
    .quicktabs-tabpage {
        position: relative;
        background: lighten($coolgray, 10%);
        &:after {
            position: absolute;
            width: 31.5%;
            background: $coolgray;
            content: '';
            height: 100%;
            top: 0;
            right: 0;
            z-index: 0;
            @include at-breakpoint(12 60em) {
                display: none;
            }
        }
        & > * {
            position: relative;
            z-index: 1;
        }
    }
    /* override some sizes */
    ul.quicktabs-tabs.quicktabs-style-navlist {
        width: 27%;
        @include at-breakpoint(12 55.625em) {
            // 890px
            width: 100%;
            float: none;
            li {
                display: inline-block;
                font-size: .85em;
            }
        }

        @include at-breakpoint(12 33.75em) {
            li {
                font-size: .75em;
            }
        }
    }
    .quicktabs_main.quicktabs-style-navlist {
        width: 73%;
        @include at-breakpoint(12 55.625em) {
            // 890px
            width: 100%;
            float: none;
        }
    }
    .tab-content {
        @include span-columns(8, 12);
        @include at-breakpoint(12 60em) {
            @include span-columns(12, 12);
        }

        hr {
            margin-top: 1em;
            margin-bottom: 3em;
        }
    }
    .tab-tabpage-aside {
        @include span-columns(4, 12);
        @include omega;
        @include at-breakpoint(12 60em) {
            @include span-columns(12, 12);
            margin-top: 0em;
            border-top: 2px solid lighten($coolgray, 10%);
            padding-top: 1em;
        }
    }
    .main-content-link {
        a {
            font-family: $bebas;
            font-size: 1.75em;
            color: $gold;
            text-decoration: none;
            padding-right: 1.25em;
            display: block;
            position: relative;
            &:after {
                position: absolute;
                top: 50%;
                content: '';
                border-radius: 45px;
                background-color: $gold;
                height: 45px;
                width: 45px;
                margin-top: -22px;
                background-image: url(images/white-arrow.png);
                background-repeat: no-repeat;
                background-position: center center;
                right: .5em;
                .svg & {
                    background-image: url(images/white-arrow.svg);
                }
            }
            span {
                color: $dkblue;
                display: block;
            }
            &:hover {
                &:after {
                    background-color: $dkblue;
                }
            }
        }
        @include at-breakpoint(12 60em) {
            a {
                font-size: 1.5em;
            }
        }

        @include at-breakpoint(12 30em) {
            a {
                padding-right: 0;
                font-size: 1.25em;
                &:after {
                    display: none;
                }
            }
        }
    }
    .media-list {
        margin-left: 1em;
        .title {
            margin-bottom: .5em;
            h4 {
                font-family: $bebas;
                font-size: 1.75em;
            }
        }
        li {
            .date {
                color: $dkblue;
            }
            .details {
                h5 {
                    a {
                        color: $dkblue;
                    }
                }
            }
        }
    }
}
