/*
 * Featured Content 2
 */

@mixin featured-content-2-container-full-width {
  display: block;
  width: 100%;
  border-left: none;
  border-right: none;
}
@mixin featured-content-2-image-full-width {
  position: static;
  width: 100%;
  height: 200px;
}
@mixin featured-content-2-image-40-width {
  position: absolute;
  width: 40%;
  height: auto;
}
@mixin featured-content-2-body-full-width {
  width: 100%;
  display: block;
  margin-left: 0;
}
@mixin featured-content-2-body-60-width {
  display: block;
  width: 60%;
  margin-left: 40%;
}
// Layout styling when block is inside a panel
.pane-bean.featured-content-2 {
  // 2 Column layout
  .col-2 &{
    display: table-cell;
    @extend %background-dkblue;
    border: solid 0.6em $white;
    width: 50%;
    // 2 Column layout with no sidebars and one sidebar
    .has-no-sidebars &,
    .has-sidebar-second &,
    .has-sidebar-first &{
      @include at-breakpoint(12 56.25em) {
        @include featured-content-2-container-full-width;
      }
    }
    // 2 Column layout with two sidebars
    .has-two-sidebars &{
      @include featured-content-2-container-full-width;
    }
  }
  // 3 Column layout
  .col-3 &{
    display: table-cell;
    @extend %background-dkblue;
    border-left: solid 0.6em $white;
    border-right: solid 0.6em $white;
    border-bottom: solid 1.2em $white;
    width: 33%;
    // 3 Column layout with no sidebars
    .has-no-sidebars &{
      @include at-breakpoint(12 56.25em) {
        @include featured-content-2-container-full-width;
      }
    }
    // 3 Column layout with one sidebar
    .has-sidebar-second &,
    .has-sidebar-first &{
      @include at-breakpoint(12 72.25em) {
        @include featured-content-2-container-full-width;
      }
    }
    // 3 Column layout with two sidebars
    .has-two-sidebars &{
      @include featured-content-2-container-full-width;
    }
  }
}

// Block
.block--featured_content_2 {
  @extend %background-dkblue;
  position: relative;
  overflow: hidden;
  width: 100%;
  // 1 Column layout
  .col-1 &,
  .page-block &{
    margin-bottom: 1em;
  }
  // Image field
  .field--name-field-featured-content2-image {
    overflow: hidden;
    // 1 Column layout
    .col-1 &,
    .page-block &{
      @include featured-content-2-image-40-width;
      @include at-breakpoint(12 42.5em) {
        @include featured-content-2-image-full-width;
      }
      // 1 Column layout with two sidebars
      .has-two-sidebars &{
        @include featured-content-2-image-full-width;
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-image-40-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-image-full-width;
        }
      }
    }
    // 2 Column layout
    .col-2 &{
      height: 200px;
      // 2 Column layout with no sidebars and one sidebar
      .has-no-sidebars &,
      .has-sidebar-second &,
      .has-sidebar-first &{
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-image-40-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-image-full-width;
        }
      }
      // 2 Column layout with two sidebars
      .has-two-sidebars &{
        @include featured-content-2-image-full-width;
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-image-40-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-image-full-width;
        }
      }
    }
    // 3 Column layout
    .col-3 &{
      height: 200px;
      // 3 Column layout with no sidebars
      .has-no-sidebars &{
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-image-40-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-image-full-width;
        }
      }
      // 3 Column layout with one sidebar
      .has-sidebar-second &,
      .has-sidebar-first &{
        @include at-breakpoint(12 72.25em) {
          @include featured-content-2-image-40-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-image-full-width;
        }
      }
      // 3 Column layout with two sidebars
      .has-two-sidebars &{
        @include featured-content-2-image-full-width;
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-image-40-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-image-full-width;
        }
      }
    }
    // Image is always 100% width of parent container
    img {
      width: 100%;
    }
  }
  // Body Wrapper
  .body-content {
    @extend %background-dkblue;
    padding: 1.1em;
    // 1 Column layout
    .col-1 &,
    .page-block &{
      @include featured-content-2-body-60-width;
      @include at-breakpoint(12 42.5em) {
        @include featured-content-2-body-full-width;
      }
      // 1 Column layout with two sidebars
      .has-two-sidebars &{
        @include featured-content-2-body-full-width;
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-body-60-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-body-full-width;
        }
      }
    }
    // 2 Column layout
    .col-2 &{
      // 2 Column layout with no sidebars and one sidebar
      .has-no-sidebars &,
      .has-sidebar-second &,
      .has-sidebar-first &{
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-body-60-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-body-full-width;
        }
      }
      // 2 Column layout with two sidebars
      .has-two-sidebars &{
        @include featured-content-2-body-full-width;
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-body-60-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-body-full-width;
        }
      }
    }
    // 3 Column layout
    .col-3 &{
      // 3 Column layout with no sidebars
      .has-no-sidebars &{
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-body-60-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-body-full-width;
        }
      }
      // 3 Column layout with one sidebar
      .has-sidebar-second &,
      .has-sidebar-first &{
        @include at-breakpoint(12 72.25em) {
          @include featured-content-2-body-60-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-body-full-width;
        }
      
      }
      // 3 Column layout with two sidebars
      .has-two-sidebars &{
        @include featured-content-2-body-full-width;
        @include at-breakpoint(12 56.25em) {
          @include featured-content-2-body-60-width;
        }
        @include at-breakpoint(12 42.5em) {
          @include featured-content-2-body-full-width;
        }
      }
    }
  } 
  // Title field
  .title {
    @extend %font-family-bebas;
    @extend %color-gold;
    font-size: 1.7em;
    margin-bottom: 0.4em;
    a {
      @extend %color-gold;
      text-decoration: none;
      &:hover {
        @extend %color-white;
      }
    }
    
  }
  // Body field
  .body {
    @extend %color-white;
  }
  // Links field collection
  .field-collection-view {
    border: none;
    padding: 0;
    margin: 0;
  }
  .field-collection-container {
    border: none;
    margin: 0.4em 0 0 0;
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2; /* Firefox */
    column-count:2;
  }
  // Button overrides
  .btn-transparent-blue-alt {
    font-size: 1em;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0;
  }
}