/*
 * Feature Touts
 *
 */
.bean-front-page-featured-content.primary {
  @extend %background-dkblue;
  box-shadow: inset 0 10px 10px -10px rgba(black, 0.4);
  padding: 2em 0;
  > .content{
    @include container;
    max-width: 1140px;
  }
  .field-collection-container{


    border: none;
    padding: 0;
    margin: 0;
  }
  .field-collection-view {
    @include span-columns(4, 12);
    padding: 1em;
    margin-left: 0;
    background: #003445;
    border: none;
    @include at-breakpoint(12 em(845)) {
      @include span-columns(12, 12);
      position: relative;
      margin-bottom: 1em;
    }

    &:first-child + .field-collection-view + .field-collection-view {
      @include omega;
    }
    .thumbnail {
      @include at-breakpoint(12 52.813em) {
        // 845px
        // position: absolute;
        float: left;
        // left: 1em;
        width: 40%;
        // top: 1em;
      }

      @include at-breakpoint(12 30em) {
        // 480px
        float: none;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
    .title {
      font-family: $bebas;
      font-size: 1.75em;
      margin-bottom: 0em;
      @include at-breakpoint(12 52.813em) {
        // 845px
        margin-left: 50%;
        margin-top: 0;
      }

      @include at-breakpoint(12 30em) {
        // 480px
        margin-left: 0;
        margin-top: 1em;
      }

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $gold;
        }
      }
    }
    .description {
      color: $blue;
      font-family: $gryesBold;
      font-size: .9em;
      margin-top: 0;
      margin-bottom: 0;
      @include at-breakpoint(12 52.813em) {
        // 845px
        margin-left: 50%;
      }

      @include at-breakpoint(12 30em) {
        // 480px
        margin-left: 0;
      }
    }
  }
}

/*
 * Feature Touts
 *
 */
.bean-front-page-featured-content.alternate {
  padding: 0;
  > .content{
    @include container;
    max-width: 1140px;
  }
  .field-collection-container{
    border: none;
    padding: 0;
    margin: 0;
  }
  .field-collection-view {
    @extend .icon-dash;
    @include span-columns(4, 12);
    background-repeat: repeat-x;
    padding: 2.5em 0 0 0;
    margin-left: 0;
    // background: #003445;
    border: none;
    @include at-breakpoint(12 em(845)) {
      @include span-columns(12, 12);
      position: relative;
      margin-bottom: 1em;
    }

    &:first-child + .field-collection-view + .field-collection-view {
      @include omega;
    }
    .thumbnail {
      @include at-breakpoint(12 52.813em) {
        float: left;
        width: 40%;
      }

      @include at-breakpoint(12 30em) {
        float: none;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
    .title {
      font-family: $gryesBold;
      font-size: em(26px);
      margin-bottom: .3em;
      @include at-breakpoint(12 em(845px)) {
        margin-left: 50%;
        margin-top: 0;
      }

      @include at-breakpoint(12 em(480)) {
        margin-left: 0;
        margin-top: 1em;
      }

      a {
        @extend %color-orange;
        text-decoration: none;
        &:hover {
          @extend %color-dkblue;
        }
      }
    }
    .description {
      font-size: em(18px);
      margin-top: 0;
      margin-bottom: 0;
      @include at-breakpoint(12 em(845px)) {
        margin-left: 50%;
      }

      @include at-breakpoint(12 em(480px)) {
        margin-left: 0;
      }
    }
  }
}

