.bean-front-page-audience{
  @extend .tan-gradiant-wrapper;
  box-shadow: inset 0 10px 10px -10px rgba(black, 0.4);
  padding: 2em 0;
  .field-collection-container{
    @include container;
    max-width: 1140px;
    position: relative;
    @include at-breakpoint(12 em(845)){
      padding-right: em(32);
      padding-left: em(32);
    }
    border-bottom: none;
    margin-bottom: 0;
  }
  .options{
    width: 24%;
    margin-right: 2%;
    text-align: left;
    float: left;
    @include at-breakpoint(12 65em) {
      // 1040px
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      float: none;
      margin-bottom: 1em;
      display: block;
    }

    @include at-breakpoint(12 42.5em) {
      //680px
      width: 90%;
    }
	h5 {
		@extend %font-family-bebas;
		margin-bottom: 0;
	}
    div.i-am-a {
      font-family: $gryesBold;
      color: $primaryblue;
      font-size: 1.6em;
      line-height: 1.66667em;
      margin-bottom: 0.33333em;
      margin-top: 0;
    }
  }
  .field-collection-view{
    @extend %element-hidden;
    // @include opacity(0);
    // @include transition(visibility linear 0.3s, opacity 0.3s linear);
    // visibility: hidden;
    width: 74%;
    float: right;
    margin: 0;
    padding: 0;
    border-bottom: none;
    @include at-breakpoint(12 65em) {
      width: 100%;
      float: none;
    }
  }
  .active .field-collection-view{
    display: block
    // visibility: visible;
    // @include opacity(1);
  }
  .cta {
    @extend %display-inline-block;
    text-align: center;
    font-family: $bebas;
    height: 11em;
    width: 22%;
    margin-left: 3%;
    line-height: 11em;
    // border-radius: 11em;
    &:first-child{
      margin-left: 0;
    }
    @include at-breakpoint(12 65em) {
      height: 13em;
      line-height: 13em;
      width: 23.5%;
      margin-left: 2%;
    }
    @include at-breakpoint(12 42.5em) {
      // @include span-columns(6, 12);
      // @include nth-omega(2n);
      font-size: .85em;
      height: auto;
      line-height: normal;
      margin-bottom: 1em;
      width: 48%;
      margin-left: 0;
      margin-right: 2%;
    }
    @include at-breakpoint(12 30em) {
      width: 100%;
      margin-right: 0;
    }
    a {
      @extend .icon-sm-burst;
      @extend %display-block;
      @include transition(none);
      background-size: 100% auto;
      background-position: center center;
      &:hover {
        @extend .icon-sm-burst-solid;
        background-size: 100% auto;
        background-position: center center;
        color: #fff;
      }
    }
    @include at-breakpoint(12 42.5em) {
      a {
        background-image: none;
        border: 2px solid $gold;
        padding: 2em 0;
        &:hover {
          background: $gold;
        }
      }
    }

    div {
      @extend %display-inline-block;
      @extend %color-dkblue;
      line-height: normal;
      vertical-align: middle;
      text-decoration: none;
      font-size: 1.4em;
      padding: 0 25px;
    }
}
}


.dropdown {
  position: relative;
}
.dropdown-toggle {
  @extend .icon-down-arrow;
  @extend %display-block;
  @extend %color-white;
  @extend %font-family-gryes-bold;
  @extend %background-dkblue;
  background-position: 95% 50%;
  text-decoration: none;
  padding: .3em 50px .3em .3em;
  font-size: 1.5em;
  *margin-bottom: -3px;
  &:active {
    outline: 0;
  }
  &:hover, &:hover:visited {
    @extend %color-gold;
  }
}

.open .dropdown-toggle {
  outline: 0;
}

.dropdown-menu {
  @extend %background-dkblue;
  @extend %element-hidden;
  position: absolute;
  top: 97%;
  left: 0;
  z-index: 1000;
  // display: none;
  float: left;
  min-width: 160px;
  max-width: 250px;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  // background-color: $dkblue;
  border-top: 1px solid $white;
  > li > a {
    display: block;
    padding: 12px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    font-size: 1.3em;
    font-family: $gryesBold;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    border-top: 1px solid #001a2a;
    &:hover, &:focus {
      text-decoration: none;
      color: #ffffff;
      background-color: $gold;
    }
  }
}

.open {
    *z-index: 1000;
    > .dropdown-menu {
        display: block;
    }
}
