.block--profile{
  @extend .icon-dot;
  @include clearfix;
  background-repeat: repeat-x;
  background-position: bottom left;
  padding-bottom: 16px;
  h4{
    @extend %font-family-bebas;
    @extend %color-dkblue;
    margin: 10px 0;
    font-size: em(20);
  }
  blockquote{
    @extend %margin-0;
    position: relative;
    @include at-breakpoint(12 em(900)){
      float: left;
      max-width: 41%;
      margin-left: 2%;
    }
    @include at-breakpoint(12 em(800)){
      max-width: 50%;
    }
    @include at-breakpoint(12 em(568)){
      max-width: 100%;
      margin-left: 0;
      float: none;
    }
  }
  .field--name-field-profile-image{
    @include at-breakpoint(12 em(900)){
      float: left;
      max-width: 57%;
    }
    @include at-breakpoint(12 em(800)){
      max-width: 48%;
    }
    @include at-breakpoint(12 em(568)){
      max-width: 100%;
      float: none;
    }
  }
  q{
    @extend %display-block;
    margin: 16px 0 16px 16px;
    @include at-breakpoint(em(569) 12 em(900)){
      margin-top: 0;
    }
    &:before{
      @extend %color-blue;
      position: absolute;
      left: 0;
      font-size: em(28);
    }
    &:after{
      @extend %color-blue;
      font-size: em(28);
      position: absolute;
    }
  }
  footer {
    @extend %color-dkblue;
    @extend %font-family-bebas;
    // position: absolute;
    // bottom: 0;
    clear: left;
    text-align: right;
    line-height: 1;
    font-size: em(20);
    span{
      @extend %color-gray;
      @extend %font-family-gryes;
      font-size: 14px;
      display: block;
      margin: 0;
    }
  }
  p{
    margin: 16px 0;
  }
}
.profile-link {
    @extend .btn-transparent-green;
    margin-top: 10px;
  }
