.view-faculty-directory-profile {

	.field--name-field-profile2-image {
		margin-bottom: 10px;
		margin-right: 2%;
	}
	h2.special {
		@extend .special;
		background: none;
		line-height: 1em;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	#school-appointment {
		font-style: italic;
	}
	#specializations {
		clear: left;
		margin-top: 10px;
	}
	ul {
		margin: 0;
	}
	.block--tab-acc.accordion {
		clear:left;
	}
}
.faculty-directory-list-item {
	@extend .view-id-profiles.faculty-profile;
	p.profile-positions {
		margin-bottom: 0;
	}
	p.profile-school {
		font-style: italic;
		}
	.profile-specialties ul {
		padding: 0;

		li.specialty-item {
			display: list-item;
			margin-left: 10px;
		}
	}
	p.see-more {
		margin-top: -4px;
	}
}
.faculty-directory-search-item {
	@extend .faculty-directory-list-item;

	tr.even {
		background-color: $profile-bg;
	}

	.view-header hr {
		background-image: none;
		border-top: 1px solid $black;
		height: auto;
	}

	fieldset#main-search, fieldset#school-filter {
		border: medium none;
		margin: 0 0 20px 0;
		padding: 0;

		input#main-search-input {
			@extend .icon-search-icon-drkblue;
			background-position: 98% center;
			width: 100%;
		}
	}

	div.alphabet {
		display: inline-block;
		width: 100%;
		margin-bottom: 1em;
		border-bottom: 2px solid #DDD;
		border-top: 2px solid #DDD;
		line-height: 32px;
		text-align: center;
	}

	div.alphabet span {
		color: #3174c7;
		cursor: pointer;
		padding: 0 5px;
		font-family: $bebas;
	}

	div.alphabet span:hover {
		text-decoration: underline;
	}

	div.alphabet span.active {
		color: $black;
		text-decoration: underline;
	}
	fieldset#school-filter {
		label {
			display: inline-block;
		}
			.col-1, .col-2, .col-3 {
				float: left;
				width: 33%;
				@include at-breakpoint(12 em($mobile-end)) {
					width: 100%;
				}
				div {
					display: table-row;
					input {
						display: table-cell;
						margin-right: 4px;
					}
					label {
						display: table-cell;
					}
				}
			}
		}

	#school-filter p {
		display: block;
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: normal;
		line-height: 20px;
		border-radius: 0;
		font-weight: bold;
	}
	#dept-filter label {
		font-weight: bold;
	}
	label.main {
		font-weight: bold;
		margin-top: 20px;
	}
	thead,
	th.school, td.school,
	th.full-name, td.full-name,
	th.research-interests, td.research-interests,
	th.specializations, td.specializations,
	th.departments, td.departments,
	th.miscellaneous, td.miscellaneous {
		display:none;
	}

	tr {
		width: 100%;
		.fac-staff-ldr-profile-photo {
			width: initial;
			@include at-breakpoint(12 em($mobile-end)) {
				width: 88px;
				min-width: 88px;
				max-width: 88px;
				float: none;
				display: table-cell;
			}
		} img {
			min-width: 100px;
			max-width: 120px;
		  	@include at-breakpoint(12 em($mobile-end)) {
				width: 84px;
				min-width: 84px;
				max-width: 84px;
				max-height: 96px;
			}
		}
		.fac-staff-ldr-profile-content {
			margin-left: 20px;
			margin-top: 0;
			max-width: 78%;
			width:70%;
			h3 {
				margin-top: 0;
				a{
					color: $primaryblue-alpha;
				}
				@include at-breakpoint(12 em($mobile-end)) {
					margin-bottom: 0;
				}
			}
			@include at-breakpoint(12 em($mobile-end)) {
				min-width: 70%;
				max-width: 70%;
				float: none;
				display: table-cell;
				padding-left: 12px;
				height: auto;
			}
			@include at-breakpoint(12 em($tablet-end)) {
				width: 70%;
			}
			p {
				@include at-breakpoint(12 em($tablet-end)) {
					margin-bottom: 0;
					line-height: 1.5em;
				}
			}
		}
		.odd {
			background-color: $white;
		}
		.even {
			background-color: $profile-bg;
		}
		p.profile-email a {
			color: $link-heading;
		}
		p.profile-positions, div.profile-specialties {
			@include at-breakpoint(12 em($mobile-end)) {
				display: none;
			}
		}
	}
	#reset-filters {
		float: right;
		a {
			@extend .btn-featured;
		}
	}
	#narrow-your-search {
		@extend .icon-blue-arrow;
		color: $blue;
		background-position: 98% center;
		padding: 0 30px 0 0;
		display: inline-block;
		cursor: pointer;
		margin-bottom: 20px;

		&:hover {
			text-decoration: underline;
		}

		&.expanded {
			@extend .icon-blue-arrow-down;
			background-size: 23px 13px;
			text-decoration: underline;
		}
		@include at-breakpoint(12 em($mobile-end)) {
			display: none;
		}
	}
	#advanced-search {
		display: none;
	}
	.highlight {
		background-color: transparent !important;
		color: $orange;
		font-weight: bold;
	}
	label.sub {
		display: inline-block;
	}
	.sub-filter {
		input {
			font-size: .8em;
			line-height: 1.1em;
			padding: 3px;
		}
		div {
			display: table-row;
			label, input {
				display: table-cell;
			}
			label {
				width: 320px;
			}
			input {
				width: 320px;
			}
		}
	}
	#faculty-directory-search_length, #faculty-directory-search_filter {
		display: none;
	}
	#alpha-head, #alpha-foot  {
		hr#reset {
			background-image: none;
			border-top: 1px solid $black;
			height: auto;
		}
		h2 {
			margin: 0;
		}
		p {
			margin: 0 0 .5em 0;
		}
	}
	#alpha-foot p {
		font-size: .8em;
	}
	#alpha-head {
		@include at-breakpoint(12 em($mobile-end)) {
			display: none;
		}
		line-height: 1em;
	}
	#faculty-directory-search_next.paginate_button, #faculty-directory-search_previous.paginate_button {
		@include btn-style(background-primaryblue, color-white, icon-white-arrow);
		@extend %display-block;
		@include btn-size(24px, em(8px) em(8px) em(8px) em(8px) );
		&:hover{
			@extend %background-dkblue;
			@extend %color-white;
		}
		color: $white !important;
		display: inline-block;

		&.disabled {
			cursor: default;
			background-color: $gray;
			&:hover {
				background-color: $gray;
			}
		}
	}
	#faculty-directory-search_next.paginate_button {
		padding-right: 2em;
	}
	#faculty-directory-search_previous.paginate_button.previous {
		margin-right: 1em;
		padding-left: 2em;
		@extend .icon-arrow-white-left;
		background-position: 5% center;
	}
	#faculty-directory-search_paginate.dataTables_paginate {
		color: $white !important;
		.paginate_button {
			border-radius: 0;
		}
	}
}

.view-faculty-directory-list-new-json .fac-staff-ldr-profile-content{
  height:auto !important;
}
