/**
 * $NODE - PROFILE
 */
.node--profile--full{
  header{
    @include clearfix();
    margin-bottom: em(16);
  }
  .field--name-field-profile-name{
    @extend %font-family-bebas;
    @extend %color-dkblue;
    font-size: em(35);
    line-height: 1.1;
    margin-bottom: 8px;
    @include at-breakpoint(12 30em) {
      font-size: em(28);
    }
  }
}
.field--name-field-profile-image{
  @extend %pull-left;
  width: 20%;
  @include at-breakpoint(12 em(620)) {
    width: 26%;
  }
}

.quote-pi .field--name-field-profile-image{
  @extend %pull-left;
  width: 100%;
  @include at-breakpoint(12 em(620)) {
    width: 100%;
  }
}

.profile-titles{
  @extend %pull-left;
  width: 78%;
  margin-left: 2%;
  @include at-breakpoint(12 em(620)) {
    width: 70%;
    margin-left: 4%;
  }
}
.view-display-id-contact_block{
  @extend %background-dkblue;
  @extend %color-white;
  padding: em(16);
  > h3 {
    @extend %font-family-bebas;
  }
  h3{
    @extend %color-white;
    //@extend %font-family-bebas;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: em(24);
  }
  p{
    margin-bottom: em(8);
    &:last-child{
      margin-bottom: 0;
    }
  }
  a{
    @extend %color-white;
    text-decoration: none;
  }
}
