/* This sucks but it's not possible reverse nest and prepend */
.academic-search-schools-colleges.schools-colleges-shadow {
	box-shadow: inset 0 10px 10px -10px rgba(black, 0.4);
	@extend %background-primaryblue;
	padding: 2em 0;
	p {
		padding: 0;
		margin: 0;
	}
	ul {
		padding: 0;
		margin: 0;
	}
}

.academic-search-schools-colleges {
	.schools-colleges-shadow-inside {
		@extend %container;
	}
	.left,
	.right {
    	@include span-columns(6, 12);
    	border: none;
    	margin-right: 0;
    	@include at-breakpoint(12 em(900)) {
			@include span-columns(12, 12);
			text-align: center;
		}
	}
	.left {
		padding-right: .5em;
	}
	.right {
		padding-left: .5em;
		@include at-breakpoint(12 em(900)) {
			margin-top: 1.5em;
		}
		.panels-flexible-region {
			@include at-breakpoint(12 em(900)) {
				@include span-columns(4, 12);
				margin-right: 0;
				li {
					margin-bottom: .5em;
				}
			}
			@include at-breakpoint(12 em(640)) {
				@include span-columns(12, 12);    
				margin-right: 0;
			}
		}
		.panels-flexible-region-inside {
			@include at-breakpoint(12 em(640)) {
				padding: 0;
			}
		}
	}
	h4 {
		font-family: $bebas;
		color: #fff;
		font-size: 2em;
		margin-top: 0;
	}
	.cu-academics-search {  
  		h3 {
			color: #fff;
			font-family: $gryesBold;
			font-size: 1.3em;
			background: $primaryblue;
			padding: 0 1em;
			display: inline-block;
		}
	}
	.outline-search input[type="submit"] {
		@include at-breakpoint(12 em(900)) {
			right: 4%;
		}
		@include at-breakpoint(12 em(640)) {
			right: 7%;
		}
	}
	nav.simple-menu {
		ul > li > a {
			@extend %color-white;
			&:hover {
      			@extend %color-white;
			}
		}
		ul.menu {
			@include at-breakpoint(12 em(900)) {
				text-align: center;
			}
		}
	}
	.schools-colleges {
		li {
			//@extend .btn-transparent-white;
			@extend %color-white;
			display: block;
			a {
				@extend %font-family-sans-serif;
				font-size: em(14px);
				text-decoration: none;
				@extend %color-white;
				&:hover {
      				@extend %color-white;
				}
			}
		}
	}
}