/**
 * $COLLAPSIBLE
 */
html.js fieldset.collapsible { // Overspecified
  padding: 0;
  border: none;

  legend {
    width: 100%;
    padding: 0;
  }
  .fieldset-legend {
    padding: 0;
    background: none;

    .summary {
      float: right;
    }
  }
  .fieldset-title {
    display: block;
    padding: 1em;

    background-color: $coolgray;

    color: $primaryblue;
    text-decoration: none;

    &:hover {
      background-color: $blue;
      color: $dkblue;
    }
  }
  .fieldset-wrapper {
    padding: $vert-spacing-unit $horz-spacing-unit;
    border: 1px solid $coolgray; // for ea.web-dev.creighton.edu (cbu04905)
  }
}

html.js fieldset.collapsed { // Overspecified
  height: 3.7em; // padding-top + padding-bottom + line-height
}

// For Dave Burchell's site (cbu04905)
html.js body.node-type-data-exchange {
	.fieldset-wrapper{
		border: none;
	}
	.field--label-inline .field__label {
		width: 15%;
		min-width: 150px;
	}

	.field--label-inline .field__items {
		width: 75%;
		min-width: 320px;
	}
	fieldset.collapsible span.fieldset-legend,  {
		 
    @extend %display-inline-block;
    @extend %background-dkblue;
    @extend %font-family-bebas;
    @include transition(background, 0.2s);
    list-style-type: none;
    padding: .5em .5em .6em;
    white-space: nowrap;
    margin-right: 2px;
    width: 100%;
          
	.fieldset-title {
    @extend %background-dkblue;
      @extend %color-white;
      @extend %display-block;
            text-decoration: none;
      font-size: 1.1em;
      padding: 0;
          }
    &.active {
      background-color: lighten($coolgray, 10%);
      a {
        @extend %color-dkblue;
        @extend .icon-down-arrow;
        background-size: 5%;
        
      &:hover {
        @extend %color-dkblue;
        background: lighten($coolgray, 10%);
      }
    }
    &:hover {
      @extend %background-blue;
    }
  }
	}
	
	fieldset.collapsible.collapsed .fieldset-title{
		a {
			@extend .icon-white-arrow;
		background-size: 40px;
		background-position: 100% center;
		}

	}
	fieldset.collapsible .fieldset-title{
		
		a {
		@extend %color-dkblue;
        @extend .icon-down-arrow;
        background-size: 40px;
        background-position: 100% center;
        }
	}
}
div#edit-field-news-image-insertable.field-type-image.field-name-field-news-image-insertable.field-widget-image-image.form-wrapper {
	display: none;
}

	
	 