footer {
  .dropdown .field-collection-view li {
    float: left;
    background-color: $footer-main-menu-li;        
    &:after {
      content: '';
    } 
  }
  .dropdown .field-collection-view ul.menu {
    background-color: transparent;  
  }
  .mobile-main-menu-footer {
    @extend .simple-menu;
    margin-top: em(16);
  }

  //Mobile Only
  @include at-breakpoint(12 em($mobile-end)) {
    .dropdown {
      margin-top: -38px;
    }
    .dropdown .field-collection-view ul.menu {
      background-color: $footer-main-menu-bg;  
    }
    .mobile-main-menu-footer ul {
      text-align: left;
    }
  }
  //Tablet Start
  @include at-breakpoint(em($tablet-start) 12) {
    .dropdown {
      float: right;
      width: 77%;  
      margin-right: 3px;
      margin-top: -20px; 
      position: relative;
      right: -100px;
      z-index: 999;  
      .field-collection-view {
          display: block;
          width: 100%;
          a {
            color: $yellow;
          }
          a:after {
            content: " | ";
          }
          li {
            background-color: transparent;
          }
          li:last-child a:after {
            content: "";
          }
      }
    } 
    .mobile-main-menu-footer ul.menu {    
      float: right;
      width: 100%;
    }

  }   
  //Desktop Start
  @include at-breakpoint(em($desk-start) 12) {  
    .dropdown {
        width: 75%; 
        position: absolute;
        left: 318px; 
        margin-right: 0;
        margin-left: -15px;
    }
  }
}//footer
//Added for Alt Pages
body.site-www footer {
  //Tablet Start
  @include at-breakpoint(em($tablet-start) 12) {
    .dropdown {
      right: 0;
    }
  }
}