.fac-staff-ldr-profile-photo,
.fac-staff-ldr-profile-content {
  @extend %pull-left;
}
.fac-staff-ldr-profile-photo {
  width: 65%;
  @include at-breakpoint(12 em($mobile-end)) {
    width: 100%;
  }
  .image-wrapper{
    padding-right: 20px;
  }
}

#block-views-profiles-contact-block > div > div > div.view-header > h3 {
	@extend %font-family-bebas;
}

.lt-ie9  {
  .fac-staff-ldr-profile-photo {
    span, img {
        width: 100% !important;
        height: auto !important;
    }
  }
}
.fac-staff-ldr-profile-content {
  width: 100%;  
  height: 150px;
  margin-top: 10px;
  color: black;
  font-size: 13px;
  @include at-breakpoint(12 em($mobile-end)) {
    width: 70%;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: $profile-header;
  }  
  p {
    margin: 2px 0 6px;
  }
  .profile-office,
  .profile-phone,
  .profile-email {
    font-size: 13px;
    margin-bottom: 7px;
    line-height: 1;
  }
  .profile-positions{
    margin-bottom: em(8);
    line-height: 1.4;
  }
  .profile-specialties {
    font-size: em(14);
    margin-bottom: em(7);
    line-height: 1;
    .specialty-item {
      display: inline-block;
    }
  }
} 
.fac-ldr-profile-link {
  float: right;
  position: relative;  
  bottom: -5px;  
  @include at-breakpoint(12 em($mobile-end)) {
    width: 40%; 
  }
  a {
    margin: 0;
    padding: .3em 1.3em .3em 0;
    font-size: 15px;    
    @extend .btn-transparent-green; 
  }
} 
    
.view-id-profiles.faculty-profile,
.view-id-profiles.view-display-id-support_staff,
.view-id-profiles.view-display-id-administration {
  .views-row {
    width: 47%;
    margin: 5px;
    margin-bottom: em(24);
    padding: 10px;
    float: left;    
    background-color: $profile-bg;    
    @include at-breakpoint(12 em($mobile-end)) {
      width: 100%;
    }
    &.views-row-last {
      margin-bottom: 30px;
    }
  }
}

div.panel-pane.pane-views.pane-profiles > div > div.view-content {
	line-height: 20px;
}

.view-id-profiles.view-display-id-adjunct {
  .views-row {
    margin-bottom: 1.5em;
    a {
      text-decoration: none;
      color: $dkblue;
    }
  } 
}