/*
 * Tabs
 */

.block--tab-acc{
  @include at-breakpoint(12 em($tablet-end)){
    margin-bottom: 20px;
  }
}

.block--tab-acc .field-collection-container{
  border: none;
  margin-bottom: 0;
}
.tab-acc-hide,
.acc-content {
  @extend %element-hidden;
  .no-js & {
    @extend %display-block;
  }
}
.acc-content.accordion-show{
  @extend %display-inline-block;
  overflow: hidden;
}


.item-list ul{
  margin: 0;
  padding: 0;
  li {
    @extend %display-inline-block;
    @extend %background-dkblue;
    @extend %font-family-bebas;
    @include transition(background, 0.2s);
    list-style-type: none;
    padding: .5em .5em .6em;
    white-space: nowrap;
    margin-right: 2px;
    @include at-breakpoint(12 em(568px)){
      display: block;
      width: 100%;
    }
    a {
      @extend %color-white;
      @extend %display-block;
      @extend .icon-white-arrow;
      background-position: 120% center;
      text-decoration: none;
      font-size: 1.1em;
      @media screen and (min-width: 568px ){
        background-image: none;
      }
      @include at-breakpoint(12 em(568px)){
        background-position: 100% center;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        @extend %color-white;
        // @extend .icon-down-arrow;
      }
    }
    &.active {
      background-color: lighten($coolgray, 10%);
      a {
        @extend %color-dkblue;
        @extend .icon-down-arrow;
        background-size: 5%;
        @media screen and (min-width: 568px ){
          background-image: none;
        }
        &:hover {
          @extend %color-dkblue;
        }
      }
      &:hover {
        @extend %color-dkblue;
        background: lighten($coolgray, 10%);
      }
    }
    &:hover {
      @extend %background-blue;
    }
  }
}

ul.item-list li a:focus {
    outline: none;
}

.tab-content {
    @include clearfix;
    background: lighten($coolgray, 10%);
    padding: 1em;
}

.tab-side .item-list ul {
  float: left;
  width: 30%;
  li {
    display: block;
    margin-bottom: 1px;
    margin-right: 0;
    a {
        white-space: pre-line;
    }
  }
}

.tab-side .tab-content {
  float: left;
  width: 70%;
}


/*
 * $Accordions
 */
.block--tab-acc.accordion {
  .view-node-remote-view & {
    margin-bottom: em(42px);
  } 
  .tab-content {
    padding: 0 .5em;
  }
}
.field-collection-container, .block--tab-acc.accordion {
  > h3 {
    /*@extend %background-green;*/
    @extend %background-primaryblue;
    @extend %color-white;
    @extend %font-family-bebas;
    @include transition(background-color, 0.2s);
    padding: .2em .5em;
    line-height: 1em;
    font-size: em(28);
    @include at-breakpoint(12 62em) {
      font-size: 1.35em;
    } 
    a {
       @extend .icon-white-arrow;
       @extend %display-block;
       @extend %color-white;
       @include transition(none);
       background-position: 100% center;
       text-decoration: none;
       padding: 0px 20px 0px 0px;
      
    } 
    &.active {
      /*@extend %background-dkblue;*/
      @extend %background-orange;
      margin-bottom: 0; 
      a {
        @extend .icon-down-white-arrow;             
      }   
    }
    &.active a {
       background-position: 100% center;
       background-size: auto;
    }
    &:focus {
      outline: none;
    } 
    &:hover {
      /*@extend %background-dkblue;*/
      @extend %background-orange;
    }    
  }
}


 
.acc-content {
  padding: em(20px) em(10px);

  // Reset margins on content inside accordion container
  // since we are adding padding to the container.
  p, ul, ol, img {
    margin: 0;
  }
  p {
    margin-bottom: 1em;
  }
  // added to get text to wrap in mobile
  img {
	  float: left;
	  margin: 0 10px 10px 0;
  }
}
