div.view-spotlight { 
	div.views-row {
		width: 100%;
	}
}

div.titlebar p img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@include at-breakpoint(12 em($mobile-end)) {
	div.landing-center {
		float: none;
		width: 100%;
	}
	
	div.landing-webform {
		float: left;
		width: 100%;
	}
}

div.landing-steps-desc {
	font-family: 'Times New Roman', Times, serif; 
	font-size: 16px; 
	line-height: 24px; 
	color: #666; 
	margin-top: 5px; 
	float: left; 
	width: 80%; 
	margin-bottom: 5px;
	@include at-breakpoint(12 em($mobile-end)) {
		float: right;
		width: 72%
	}
}

div.landing-steps-num {
	font-family: 'Times New Roman', Times, serif; 
	font-size: 26px; 
	color: #00a9e0; 
	float: left; 
	width: 13%; 
	height: 55px; 
	padding-top: 10px; 
	border-right: 1px #CCCCCC solid; 
	margin-right: 10px;
		@include at-breakpoint(12 em($mobile-end)) {
		height: 150px;
		width: 25%
	}
}
.slate-landing-webform {
	.main-menu {
	    display: none;
	}
	
	.this-is-for-titles, .landing-webform h2.pane-title {
	    font: 30px/30px 'bebas_neueregular', 'Helvetica Neue', Arial, sans-serif !important;
	    color: #00a9e0;
	    background-image: none !important;
	    background-color: #DEDEDE;
	    padding-left: 0px !important;
	    padding-right: 5px;
	    padding-top: 7px;
	    padding-bottom: 7px;
	    text-align: left;
	}
	
	#zone-content .block-title, #zone-content .pane-title {
	    padding-left: 15px !important;
	    letter-spacing: .01ex;
	}
	
	.landing-webform {
	    font-family: Times, serif;
	    font-size: 1.1em;
	    line-height: 1.5em;
	    padding: 15px !important;
	    background-color: #dedede;
	}
	
	@media (max-width: 65em) {
		.landing-webform, .landing-center {
			display: block;
			width: 100%;
			float: none;
		}
	}
	div[data-required='1']>label:after, div[data-required='1']>fieldset>legend.form_label:after, div[data-required='1']>fieldset>div.form_label>legend:after, div[data-required='1'] div.form_responses label.form_label:after {
	    font-weight: normal;
	    color: black;
	}
	
	div.error {
	    background-image: none;
	}
}