/*
 *$BRAND COLORS
 */
$primaryblue: #00558c;
$dkblue: #00263e;
$dkgray: #53565a;
$gray: #97999b;
$coolgray: #c8c9c7;
$gold: #b9975b;
$green: #00b388;
$blue: #00a9e0;
$yellow: #eedc00;
$peach: #ff7276; // depricated
$orange: #f2a900;
$red: #da291c;
$basegray: #555555;

// Academics gray
$gray1: #EFEFEF;

/*
 *$Monochromatic colors
 */
$white: #fff;
$black: #000;
/* Alert Colors */
$alert-red: #d63113;
$alert-orange: #eeac00;