// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 32px;

// Define Susy grid variables mobile first.
$total-columns: 12;
$column-width: 64px;
$gutter-width: $horz-spacing-unit;
$grid-padding: $gutter-width;
// $debug-grid: true;

$container-style: magic;
$container-width: 1140px; // 1140px


$tab: 48em 12;
$desk: 52.813em 12;
