// TODO: Clean up Ologie menu styles to fit SMACSS

// ---------------------------------------------------------------------------
// SOME DEFAULTS
.menu {
  @include no-bullet;
  @extend %margin-0;
  @extend %pad-0;
  .menu {
    margin-left: 1em;
    padding-left: 1em;
  }
  > li.leaf{ @include no-bullet; }
}

// ---------------------------------------------------------------------------
// Buttons in a list
//
// used in the header and footer for links like Visit, Apply, etc
@mixin btn-list ($background-extend: background-blue, $color-extend: color-white, $background-extend-hover: background-blue, $color-extend-hover: color-dkblue) {
  @include no-bullet;
  @include clearfix;
  @extend %margin-0;
  @extend %pad-0;
  li {
    @extend %display-inline-block;
    font-size: em(24);
    @include at-breakpoint(12 em(360)) {
      font-size: em(19);
    }
  }
  a {
    @extend %display-block;
    @extend %font-family-bebas;
    @extend %#{$background-extend};
    @extend %#{$color-extend};
    padding: .2em 1em; // TODO: Size is incorrect when switching to em(3). Must be casscading ems.
    letter-spacing: 1px;
    text-decoration: none;
    &:hover {
      @extend %#{$background-extend-hover};
      @extend %#{$color-extend-hover};
    }
  }
}
/*
 * Really simple menu
 *
 * This is a really simple, resusable menu style with bullet separators.
 * Used in the header, majors section and other areas
 *
 */
.simple-menu {
  ul {
    @include clearfix;
    @include at-breakpoint(12 em($tablet-end)) { text-align: center; }
  }
  li {
    @include at-breakpoint(12 em($tablet-end)) {
      padding: 0px 13px
    }
    @extend %display-inline-block;
    padding: 0 3px;
    font-size: em(12);
    &:after {
      content: "\2022";
      padding-left: 10px;
    }
    &:last-child:after {
      content: '';
      padding: 0;
    }
  }
  a {
    @extend %font-family-sans-serif;
    text-decoration: none;
    &:hover {
      @extend %color-gold;
    }
  }
}

// ---------------------------------------------------------------------------
// Sidebar Navigation

#block-menu-block-sidebar-secondary-menu {
  @extend %font-family-gryes;
  @include at-breakpoint(12 em($mobile-end)) {
    display: none;
    &.open {
        display: block; // NOTE: Not sure what this does
    }
  }
  .menu-block-wrapper > .menu{
    @extend .icon-gray-dot;
    background-repeat: repeat-x;
    background-position: 0 bottom;
  }
  // First tier menu
  .menu-block-wrapper > .menu > li{
    @extend .icon-gray-dot;
    background-repeat: repeat-x;
    background-position: 0 top;
    line-height: 1;
    a{
      @extend %display-block;
      font-size: em(16);
      padding: 10px 4px 10px 12px;
      &.active{
        @extend %color-primaryblue;
        background-color: #eaebeb;
      }
    }
    &.active,
    &.active-trail{
      background-image: none;
      > a {
        background-color: #eaebeb;
      }
    }
  }

  // Second tier menu
  .menu .menu{
    margin: 0;
    padding: 4px 0 4px 10px;
    > li{
      margin: 0;
      &.expanded{
        margin-bottom: 0;
        line-height: 1;
        > a{
          @extend .icon-gold-arrow-down;
          background-position: 0 7px;
        }
      }
      > a{
        @extend %display-block;
        @extend .icon-gold-arrow;
        background-position: 5px 7px;
        padding: 4px 4px 4px 17px;
      }
    }
  }

  // Third tier menu
  .menu .menu .menu:last-child{
    padding: 0;
    margin: 4px 0 4px 10px;
    @extend .icon-gold-dot-small;
    background-repeat: repeat-y;
    background-position: 0 0;
    > li{
      font-size: em(14);
      a{
        background-image: none;
        margin-left: 6px;
        padding: 4px 6px;
        &.active{
          @extend %color-primaryblue;
          background-color: #eaebeb;
        }
      }
    }
  }
  a{
    @extend %color-dkblue;
    text-decoration: none;
  }
  .menu .expanded,
  .menu .collapsed{
    list-style-type: none;
    list-style-image: none;
  }
}
// Moble sidebar menu
.small-menu-trigger {
  @extend %color-dkblue;
  @extend %background-gray;
  @extend .icon-up-down-arrow;
  @include transition(none);
  background-position: 95% -1.75em;
  display: none;
  padding: .5em;
  @include at-breakpoint(12 em($mobile-end)) {
    display: block;
  }
  &.open {
    background-position: 95% 0.75em;
  }
}
// ---------------------------------------------------------------------------
// SITE NAME/LOGO - MAIN NAV
.main-header div.site-logo {
  @include at-breakpoint(12 em($mobile-end)) {  
    margin-left: 0;
  } 
  @include at-breakpoint(em($tablet-start) 12) {  
    margin-left: 0;
  } 
  @include at-breakpoint(em($desk-start) 12) {  
    margin-left: 0;
  }   
}
//Added for Alt Pages Logo Header
body.site-www .main-header div.site-logo {
  @include at-breakpoint(12 em($mobile-end)) {  
    margin-left: 0;
  }
  @include at-breakpoint(em($tablet-start) 12) {  
    margin-left: 0;
  } 
  @include at-breakpoint(em($desk-start) 12) {  
    margin-left: 0;
  } 
}
.site-logo {
  @extend %display-inline-block;
  .lt-ie9 &{
    @extend %display-inline;
  }
  img{
    .l-footer &{
      margin-bottom: 1.4em;
    }
  }
  @include at-breakpoint(12 em($mobile-end)) {  
    margin: 0 auto;
  }
  @include at-breakpoint(em($tablet-start) 12) {  
    margin: 10px auto;
  }
  @include at-breakpoint(em($desk-start) 12) {  
    margin: 0 auto;
  }
}
.header-buttons,
#block-menu-block-header-transaction-menu {
  position: absolute;
  top: 0;
  right: em(32);
  @include at-breakpoint(12 em($tablet-end)) {
    right: auto;
    left: 0;
    width: 100%;
  }
  ul {
    @include btn-list;
    @extend %margin-0;
    float: right;
    @include at-breakpoint(12 em($tablet-end)) {
      text-align: center;
      float: none;
      width: 100%;
    }
    @include at-breakpoint(12 em($mobile-end)){
    font-size: 77%;
	}
  }
  
}

#block-menu-block-header-main-menu {
  // margin-bottom: .5em;
  @include at-breakpoint(12 em(1120)) {
    @include span-columns(12, 12);
    padding-top: 0;
  }

  .menu {
    @include clearfix;
    margin-top: .8em;
    @include at-breakpoint(12 em(1120px)) {
      float: none;
    }
    @include at-breakpoint(12 em($tablet-end)) {
      text-align: center;
    }
    & > li {
      float: left;
      position: relative;
      @include at-breakpoint(12 em($tablet-end)) {
        float: none;
        display: inline-block;
      }
      @include at-breakpoint(em($desk-start) 12) {
        /*margin-bottom: 5px;*/
      }
      & > a {
        color: #fff;
        font-family: $bebas;
        text-decoration: none;
        font-size: 1.35em;
        font-weight: normal;
        letter-spacing: 1px;
        padding: 0 .5em;
      }
      &.active,
      &.active-trail {
        & > a {
          border-bottom: 5px solid $blue;

        }
      }
      &:hover {
        & > a {
          border-bottom: 5px solid $blue;
        }
        & > .menu {
          left: auto;
          @include at-breakpoint(12 em(620px)) {
            display: none;
          }
        }
      }
    }
    // MOBILE NAVIGATION STYLES
    @include at-breakpoint(12 em($tablet-end)) {
      & > li {
        display: block;
        font-size: 1.25em;
        text-align: left;
        float: none;
        padding: 0;
        a {
          display: block;
          background-color: $primaryblue;
          padding: .5em 1em;
          border-bottom: 1px solid $dkblue;
          &:hover {
            background: $blue;
            border-bottom: 1px solid $dkblue;
          }
        }
        &.active {
          a {
            border-bottom: 1px solid $dkblue;
          }
        }
      }
    }
  }
  @include at-breakpoint(12 em($tablet-end)) {
    max-height: 0;
    overflow: hidden;
    @include transition-duration(0.4s);
    @include transition-property(all);
    &.open {
      max-height: 40em;
    }
  }
  .menu .expanded,
  .menu .collapsed{ // Resets drupals default menu styles
    list-style: none;
  }
}
// ---------------------------------------------------------------------------
//  TOP NAV & SEARCH BAR
//
// Absolutely position above the site logo and main nav on larger displays so the DOM is logical.
// Drops below the site logo on smaller screens to allow the logo to move up.
//

#mobile-quicklinks {
  @extend .icon-white-arrow;
  background-position: right bottom;
  display: block;
  width: 100%;
  height: 30px;
  padding-top: 6px;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: .75px;
  &.expanded {
    @extend .icon-down-white-arrow;
  }
  &.mobile-only {
    color: $white;
    @include at-breakpoint(em($tablet-start) 12){
      display: none;
    }  
  }
}
.secondary-header {
  @extend %background-primaryblue;
  border-bottom: 3px solid $blue;
  width: 100%;
  @include at-breakpoint(12 em($tablet-end)){
    display: block;
    background: $primaryblue;
    min-height: 41px;
  }
  @include at-breakpoint(12 em($tablet-end)) {
    position: relative;
    top: auto;
    left: auto;
  }
  nav {
    @include span-columns(8, 12);
    letter-spacing: 1px;
    @include at-breakpoint(12 em($mobile-end)) {
    line-height: 10px;
    }
    @include at-breakpoint(12 em($tablet-end)) {
      @include span-columns(12, 12);
      float: none;
      display: block;
    }
    li {
      &:after {
        @extend %color-white;
      }
    }
    a{ color: #fff; }
  }
  // MOBILE NAVIGATION STYLES
  @include at-breakpoint(12 em($tablet-end)) {
    max-height: 0;
    overflow: hidden;
    @include transition-duration(0.2s);
    @include transition-property(all);
    &.open {
      max-height: 20em;
    }
  }
  @include at-breakpoint(12 em($mobile-end)) {
    max-height: none;
  }
  &.mobile{
    display: none;
    @include at-breakpoint(12 em($tablet-end)){
      display: block;
    }
  }
}

// ---------------------------------------------------------------------------
// Social Media Links
.social-media {
  margin: 2em 0 0;
  padding: 0;
 
  @include at-breakpoint(12 em($mobile-end)) {
    text-align: center;
    float: left;
    width: 100%;
  }
  @include at-breakpoint(em($tablet-start) 12) {
    position: absolute;
    right: 30px;
    top: 160px;
    margin-top: 0;
  }  

  li {
    margin-right: 5px;
    @extend %display-inline-block;
    @include no-bullets;
  }
  a {
    @extend %display-block;
    @extend .icon-social-icons;
    @include transition(none);
    cursor: pointer;
    height: 0;
    width: 38px;
    padding-top: 38px;
    overflow: hidden;
  }
  .facebook:hover {
    background-position: 0 -38px;
  }
  .twitter {
    background-position: -38px 0;
    &:hover {
      background-position: -38px -38px;
    }
  }
  .linkedin {
    background-position: -76px 0;
    &:hover {
      background-position: -76px -38px;
    }
  }
  .youtube {
    background-position: -114px 0;
    &:hover {
      background-position: -114px -38px;
    }
  }
  .instagram {
    background-position: -152px 0;
    &:hover {
      background-position: -152px -38px;
    }
  }
}

// Social Media Links
#front-page-social-media-links-left-column {
	display: block;
	color: white;
	background-color: $primaryblue;
	margin-bottom: 6px;
	
	
	h2#social-media-title {
	display: block;
	background-color: inherit !important;
	color: inherit;
	float:left;
	padding-left: 12px;
	min-width: 7px;
	margin-left: 0px;
	}
	
	.social-media-left-nav {
	display: block;
	position: relative;
	vertical-align: middle;
	float: right;
	margin-right:0;
	right:0;
	padding: 12px 12px 0 0;
	
		.social-media-icon {
		display: table-cell;
		vertical-align: middle;
		}
	
		@include at-breakpoint(12 em($tablet-end)) {
			float: left;
	    	width: 100%;
			padding: 0 0 0 12px;
			margin: -8px 0 12px;
		  }  
		@include at-breakpoint(12 em($mobile-end)) {
		    float: right;
	    	padding: 12px 12px 0 0;
	    	width: auto;
			margin:0;
		}
		
		 

		
	  a {
	    @extend %display-block;
	    @extend .icon-social-icons-31px;
	    @include transition(none);
	    cursor: pointer;
	    height: 0;
	    width: 31px;
	    padding-top: 31px;
	    overflow: hidden;
	  }
	  .facebook:hover {
	    background-position: 0 -31px;
	  }
	  .twitter {
		  margin-left: 8px;
	    background-position: -31px 0;
	    &:hover {
	      background-position: -31px -31px;
	    }
	  }
	  .linkedin {
		  margin-left: 8px;
	    background-position: -62px 0;
	    &:hover {
	      background-position: -62px -31px;
	    }
	  }
	  .youtube {
		  margin-left: 8px;
	    background-position: -93px 0;
	    &:hover {
	      background-position: -93px -31px;
	    }
	  }
	  .instagram {
		  margin-left: 8px;
	    background-position: -124px 0;
	    &:hover {
	      background-position: -124px -31px;
	    }
	  }
  }
}
// ---------------------------------------------------------------------------
// Top Nav Menu
#block-menu-block-header-utility-menu {
  @extend .simple-menu;
  padding: 0;
  @include at-breakpoint(12 em($mobile-end)){
    display: none;
  }
  @include at-breakpoint(em($tablet-start) 12){
    font-size: 9px;
  }
  @include at-breakpoint(12 em($tablet-end)){
    margin-left: -34px;
  }
  li {
    padding: 7px 3px;
    font-size: 12px; 
    @include at-breakpoint(12 em($mobile-end)){
      width: 100%;
    }
    @include at-breakpoint(12 em($tablet-end)){
      float: left;
    }
    &:after {
      @include at-breakpoint(12 em($mobile-end)) {
        content: none;
      }
    }
  }
  @include at-breakpoint(em($desk-start) 12) {
    li{     
      font-size: 12px;
      padding: 6px 3px;
    }
  }
  ul {
    @include at-breakpoint(12 em($mobile-end)) {
      margin-left: 19%;
    }
  }
}
#block-cu-quick-search-blocks-header-search-block {
  @include at-breakpoint(12 em($mobile-end)){
    display: none;
  }
}
