// TODO: Clean up Ologie modules and define component structure.


// NOTE: Used on Admissions
.icon-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        padding-top: 0.5em;
        border-top: 2px solid #fff;
        position: relative;
        @include span-columns(6, 12);
        @include nth-omega(2n);
        a {
            color: $green;
            padding: 0.65em 0 1em 55px;
            font-size: 1.15em;
            display: block;
            text-decoration: none;
            font-family: $gryesBold;
            &:hover {
                color: $dkblue;
            }
        }
        img {
            margin-right: .05em;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -22px;
        }
    }
    @include at-breakpoint(12 33.75em) {
        li {
            @include span-columns(12, 12);
        }
    }
}


.simple-tout {
    background: url(images/dash.svg) repeat-x;
    padding-top: 2em;
    h3 {
        line-height: 1.2em;
        font-size: 1.5em;
        a {
            color: $orange;
            text-decoration: none;
            &:hover {
                color: $dkblue;
            }
        }
    }
    p {
        margin-top: .25em;
        font-size: .95em;
    }
}
