.block--copy-block {
	&.upcoming-events{
		h4 {
			margin-bottom: 1.3em;
		}
		p {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 1.2em;
			strong {
				@extend %font-family-bebas;
				@extend %color-blue;
				font-weight: normal;
				font-size: 1.3em;
			}
			a {
				@extend %color-basegray;
			}
		}
	}
	&.contact-us {
		div {
			@extend %background-dkblue;
			padding: 5px;
		}	
		strong {
			@extend %font-family-bebas;
			@extend %color-white;
			font-weight: normal;
			font-size: 1.3em;
			padding: 1px;
			margin: 0;
		}
		p {
			@extend %color-white;
			@extend %background-dkblue;
			padding: 5px 10px;
			font-weight: normal;
			font-size: 1.1em;	
			margin: 0;
			a {
				@extend %color-white;
			}
		}
	}
	&.college-about{
		h4 {
			margin-bottom: 1.0em;
			@extend %color-primaryblue;
		}
		h2 {
			@extend %color-primaryblue;
		}
		p {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 1.0em;
			strong {
				@extend %font-family-bebas;
				font-weight: normal;
				font-size: 1.3em;
			}
			a {
				@extend .btn-primary-blue;
				font-size: 1.0em;
				margin-top: 0.75em;
			}
		}
	}
	&.callout-green{
		p {
			@extend %font-family-bebas;
			@extend %color-green;
			font-weight: normal;
			font-size: em(30);
      line-height: em(18);
		}
		a {
			@extend %color-green;
		}
	}
	&.callout-red{
		p {
			@extend %font-family-bebas;
			@extend %color-red;
			font-weight: normal;
			font-size: 1.3em;
		}
		a {
			@extend %color-red;
		}
	}
  &.plain{
    p{
      @extend %color-basegray;
      font-size: em(20);
      line-height: em(26);
    }
  }
}
.front-page-alternate .bottom-left .block--copy-block{
  &:before,
  &:after{
    @extend .icon-dash;
    @extend %display-block;
    background-repeat: repeat-x;
    height: 28px;
    content: '';
  }
  &:before{
    margin-bottom: 4px;
  }
  p{
    margin-bottom: 0;
    font-size: em(35px);
    line-height: 1.2;
  }
}

.front-page-alternate .college-about{
  h4{
    @extend %color-primaryblue;
    font-family: $gryesBold $georgia;
    font-size: em(30px);
    margin-bottom: (15px);
    margin-top: 0;
    @include at-breakpoint(12 em(800)){
      font-size: em(24px);
      margin-bottom: em(15px);
    }
    @include at-breakpoint(12 em(600)){
      font-size: em(21px);
      margin-bottom: em(11px);
    }
  }
  p{
    font-size: em(24);
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
    @include at-breakpoint(12 em(800)){
      font-size: em(21px);

    }
    @include at-breakpoint(12 em(600)){
      font-size: em(18px);
      line-height: 21px;
    }
  }
}
