.print-site_name, .print-breadcrumb, .print-title, #player_stats_link, #player_stats_nav_separator, #player_stats_nav_link { display: none; }
hr { display: none; height: 0px; color: white; background-color: white; margin: 0px; }
.view-footer { font-size: 0.8em; }
.view-display-id-panel_pane_4 .view-content, .view-display-id-panel_pane_8 .view-content { display: none; }
.view-display-id-panel_pane_4 .view-footer, .view-display-id-panel_pane_4 .view-empty, .view-display-id-panel_pane_8 .view-footer, .view-display-id-panel_pane_8 .view-empty { height: 80px; width: 100%; line-height: 1.2; }
.view-display-id-panel_pane_4 .view-footer div, .view-display-id-panel_pane_4 .view-empty div, .view-display-id-panel_pane_8 .view-footer div, .view-display-id-panel_pane_8 .view-empty div { padding: 3px 0; }
.panels-flexible-baseball_grid .panels-flexible-region-inside { padding: 0 3px 0 0; }
.panel-flexible .panel-separator { margin: 0 0 3px 0; }
.panels-flexible-baseball_grid .panels-flexible-row { padding: 0px; }
.view-display-id-panel_pane_2 .view-content, .view-display-id-panel_pane_9 .view-content { padding: 0px; }
.view-display-id-panel_pane_2 .view-content table, .view-display-id-panel_pane_9 .view-content table { margin: 0px; }
.pane-player-stats-panel-pane-2 h2, .pane-player-stats-panel-pane-9 h2 { margin: 0 0 6px 0; line-height: 1; }
.content { margin: 0px; }
.pane-content h3 { margin: 0.6em 0 0.3em 0; }
.pane-content p { display: none; }
.print-source_url { margin-top: 6px; }
.player-stats-hm-02 {background-color: #0000FF;}
.player-stats-hm-025 {background-color: #1515FD;}
.player-stats-hm-03 {background-color: #2B2BFB;}
.player-stats-hm-035 {background-color: #4040FA;}
.player-stats-hm-04 {background-color: #5656F8;}
.player-stats-hm-045 {background-color: #6C6CF7;}
.player-stats-hm-05 {background-color: #8181F5;}
.player-stats-hm-055 {background-color: #9797F4;}
.player-stats-hm-06 {background-color: #ADADF2;}
.player-stats-hm-065 {background-color: #C2C2F1;}
.player-stats-hm-07 {background-color: #D8D8EF;}
.player-stats-hm-075 {background-color: #EEEEEE;}
.player-stats-hm-08 {background-color: #EFD8D8;}
.player-stats-hm-085 {background-color: #F1C2C2;}
.player-stats-hm-09 {background-color: #F2ADAD;}
.player-stats-hm-095 {background-color: #F49797;}
.player-stats-hm-1 {background-color: #F58181;}
.player-stats-hm-105 {background-color: #F76C6C;}
.player-stats-hm-11 {background-color: #F85656;}
.player-stats-hm-115 {background-color: #FA4040;}
.player-stats-hm-12 {background-color: #FB2B2B;}
.player-stats-hm-125 {background-color: #FD1515;}
.player-stats-hm-13 {background-color: #FF0000;}
.player-stats-hm-02, .player-stats-hm-025, .player-stats-hm-03, .player-stats-hm-035, .player-stats-hm-04, .player-stats-hm-045, .player-stats-hm-05, .player-stats-hm-115, .player-stats-hm-12, .player-stats-hm-125, .player-stats-hm-13 {color: white; margin: 0px; }
